Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

fix(sidecar): renku needs to be on path
  git_services/Dockerfile.sidecar
  git_services/git_services/sidecar/errors.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: poetry flags not parsed properly
  Dockerfile
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(js-watcher): add simple golang service which supports kubernetes list-watch paradigm for JupyterServer objects
  js-watcher/README.md
  js-watcher/go.mod
  js-watcher/go.sum
  js-watcher/jupyter-server.go
  js-watcher/main.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

docs(readme): small clarifications to README
  js-watcher/README.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: poetry flags not parsed properly (#1294)
  Dockerfile
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: test response times
  load_tests/test_response_time.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

wip
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(sidecar): renku needs to be on path (#1293)
  git_services/Dockerfile.sidecar
  git_services/git_services/sidecar/errors.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: additional tests
  load_tests/pod.yaml
  load_tests/small_crd.yaml
  load_tests/test_response_time_pods.py
  load_tests/test_spec.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.2.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): respect git lfs autofetch flag (#1288)
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(sidecar): properly set and unset lfs auth
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(sidecar): properly set and unset lfs auth
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): Update default session image to renku/renkulab-py:3.9-0.13.0 (#1291)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: fix git parameter name
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(sidecar): properly set and unset lfs auth (#1301)
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.2.0 (#1299)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.11.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.11.1 release (#1306)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(ci): Update renku actions to v1.2.1
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.2.2
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): detailed status messages
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): update amalthea to 0.6.0
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(ci): Update renku actions to v1.2.2 (#1309)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.3.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): detailed status messages (#1289)
  helm-chart/renku-notebooks/requirements.yaml
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.3.0 (#1313)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.12.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.12.0 release (#1315)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(app): Update default session image to renku/renkulab-py:3.9-0.13.1
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

feat(app): add js cache with informer
  js-watcher/Dockerfile
  js-watcher/cache.go
  js-watcher/cache_collection.go
  js-watcher/config.go
  js-watcher/errors.go
  js-watcher/go.mod
  js-watcher/go.sum
  js-watcher/jupyter-server.go
  js-watcher/main.go
  js-watcher/middlewares.go
  js-watcher/routes.go
  js-watcher/server.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: js-watcher cleanup
  js-watcher/cache.go
  js-watcher/cache_collection.go
  js-watcher/config.go
  js-watcher/errors.go
  js-watcher/main.go
  js-watcher/middlewares.go
  js-watcher/routes.go
  js-watcher/server.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: edits
  chartpress.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/hpa.yaml
  helm-chart/renku-notebooks/templates/network-policy.yaml
  helm-chart/renku-notebooks/templates/service.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  js-watcher/cache.go
  js-watcher/config.go
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/k8s_client.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/errors/intermittent.py
  tests/unit/test_k8s_client.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: minor fix for cache sync
  renku_notebooks/api/classes/k8s_client.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: format with go revive linter
  js-watcher/cache.go
  js-watcher/cache_collection.go
  js-watcher/config.go
  js-watcher/main.go
  js-watcher/routes.go
  js-watcher/server.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add docstrings
  js-watcher/Dockerfile
  js-watcher/cache.go
  js-watcher/cache_collection.go
  js-watcher/config.go
  js-watcher/go.mod
  js-watcher/main.go
  js-watcher/routes.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update readme
  js-watcher/README.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  js-watcher/cache.go
  js-watcher/cache_collection.go
  js-watcher/cache_test.ago
  js-watcher/config.go
  js-watcher/main.go
  js-watcher/server.go
  js-watcher/server_routes.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: remove server.server
  js-watcher/Dockerfile
  js-watcher/README.md
  js-watcher/go.mod
  js-watcher/main.go
  js-watcher/server.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
