Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

fix: update minikube values.yaml file
  helm-chart/minikube-values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: update readme with instructions on how to launch renku-notebooks with minikube
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

chore: update readme with instructions on how to launch renku-notebooks with minikube
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

chore: fix typo in readme
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

chore: remove unneeded whitespace at end of file
  helm-chart/minikube-values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: return server details when pending and spawning to prevent UI content flicker
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: checking secrets with no annotations and labels
  cull_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update JupyterHub
  helm-chart/renku-notebooks/requirements.yaml
  jupyterhub/Dockerfile
  jupyterhub/requirements.txt
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: checking secrets with no annotations and labels (#509)
  cull_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

refactor: define models and schemas (#480)
  Pipfile
  Pipfile.lock
  renku_notebooks/__init__.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/decorators.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
  renku_notebooks/util/kubernetes_.py
  renku_notebooks/wsgi.py
  tests/conftest.py
  tests/dummy_server_options.json
  tests/test_auth.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: extraEnv requires only string values now
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: extraEnv requires only string values now (#511)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: remove unneccessary log error calls
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add missing fields in renku-notebooks schemas
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update tests
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: remove unneccessary log error calls (#512)
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: simplify definition of UserPodResources schema
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: pod resources schema (#513)
  renku_notebooks/api/schemas.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update various dependencies (#514)
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: retry when creating notebook fails with 500
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update documentation (#507)
  README.rst
  helm-chart/minikube-values.yaml
Owners: @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

fix: ensure duplicate containers are not added to pod spec
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: ensure duplicate containers are not added to pod spec
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: ensure duplicate containers are not added to pod spec
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: simplify change
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: duplicate https proxy containers (#523)
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add acceptance test action
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: capture protocolerror in spawner, log and reraise
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add 1 sec sleep when retrying failed server launch
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: correct raise syntax in spawner
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add jsonschema validation for server options in values.yaml
  helm-chart/renku-notebooks/values.schema.json
Owners: @SwissDataScienceCenter/kartografen

chore: use helm test for acceptance tests
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add acceptance test action (#525)
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix cleanup action
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add specific schemas for server options in notebooks api
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: fix field name is schema
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: retry when creating notebook fails with 500 (#518)
  jupyterhub/spawners.py
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix cleanup action (#528)
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: adapt ci/cd logic
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

update changelog for 0.8.7 release
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
