Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

feat: modify for custom CA certificates (#788)
  .github/workflows/integration-tests.yml
  git-clone/clone.sh
  git-https-proxy/Dockerfile
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/__init__.py
  renku_notebooks/api/amalthea_patches/autosave.py
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/amalthea_patches/inject_certificates.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/amalthea_patches/s3mounts.py
  renku_notebooks/api/amalthea_patches/utils.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: address comments
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix swagger page (#894)
  Pipfile
  Pipfile.lock
  renku_notebooks/__init__.py
  renku_notebooks/api/__init__.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): simplify server status
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to 0.5.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v0.5.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v0.5.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): enable sentry performance monitoring
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/__init__.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): enable sentry performance monitoring (#907)
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/__init__.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: track release version in sentry
  helm-chart/renku-notebooks/templates/statefulset.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: use chart version as sentry release
  helm-chart/renku-notebooks/templates/statefulset.yaml
Owners: @SwissDataScienceCenter/kartografen

build: update sentry values
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/__init__.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: track release version in sentry (#908)
  helm-chart/renku-notebooks/templates/statefulset.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: make s3 buckets enabled by default
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: tolerations spec in values
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: prep 1.3.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.3.0 release (#914)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat: add anti-affinity to stateful set
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(app): Update default session image to renku/renkulab-py:3.9-0.11.0
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(app): Update default session image to renku/renkulab-py:3.9-0.11.0 (#916)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: bring dependabot up to speed with master
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix linting errors
  renku_notebooks/util/file_size.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add weight
  helm-chart/renku-notebooks/templates/statefulset.yaml
Owners: @SwissDataScienceCenter/kartografen

fix label selector
  helm-chart/renku-notebooks/templates/statefulset.yaml
Owners: @SwissDataScienceCenter/kartografen

feat(chart): add anti-affinity to stateful set (#915)
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: wrap up
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix linting
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app)!: change s3 bucket naming
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: setup for testing
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: fix tests
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): better messages on session launch fail
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app)!: change s3 bucket naming (#922)
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor edits
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

build: update sentry values (#912)
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/__init__.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.4.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: Dependabot updates batch (#917)
  Pipfile
  Pipfile.lock
  renku_notebooks/util/file_size.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.4.0 release (#934)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: cleanup tests
  Dockerfile.tests
  tests/integration/conftest.py
  tests/integration/test_image_check_logic.py
  tests/integration/test_server_options.py
  tests/integration/test_session_creation.py
  tests/integration/utils.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add tests for session crash messages
  tests/integration/conftest.py
  tests/integration/test_session_crash_errors.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): remove S3 flag from server options
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
