Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

chore: use hashes when exporting requirements
  Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.5.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

ci: update acceptance tests
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix typo
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): use pv to persist sessions
  README.md
  git-https-proxy/config/config.go
  git_services/git_services/init/clone.py
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
  git_services/git_services/init/errors.py
  git_services/git_services/sidecar/app.py
  git_services/git_services/sidecar/commands/base.py
  git_services/git_services/sidecar/rpc_methods.py
  git_services/git_services/sidecar/run_command.py
  git_services/tests/test_autosave.py
  git_services/tests/test_init_clone.py
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/__init__.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/k8s_client.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/server_manifest.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/autosave.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/static.py
  renku_notebooks/errors/intermittent.py
  resource_schema_migrations/migration_1.py
  tests/integration/test_autosaves.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

final-feedback
  renku_notebooks/__init__.py
  renku_notebooks/api/classes/k8s_client.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/servers_patch.py
  renku_notebooks/config/static.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Update notebooks.py
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

attempt to fix server 500
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/servers_patch.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add debug strings
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.5.1
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.5.2
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: run flake8 outside of pytest
  .github/workflows/ci.yml
  git_services/pyproject.toml
  pyproject.toml
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/errors/user.py
  renku_notebooks/util/check_image.py
  setup.cfg
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: poetry package updates
  poetry.lock
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update python packages
  git_services/poetry.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix test image
  Dockerfile.tests
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update python dependencies (#1557)
  .github/workflows/ci.yml
  Dockerfile.tests
  git_services/poetry.lock
  git_services/pyproject.toml
  poetry.lock
  pyproject.toml
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/errors/user.py
  renku_notebooks/util/check_image.py
  setup.cfg
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update alpine version in images
  git-https-proxy/Dockerfile
  k8s-watcher/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update python packages
  poetry.lock
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  git-https-proxy/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update alpine version in images (#1558)
  git-https-proxy/Dockerfile
  k8s-watcher/Dockerfile
  poetry.lock
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.17.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.yaml
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.17.0 release (#1559)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.yaml
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat: add session warnings to jupyter server API responses (#1482)
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

update lock file
  poetry.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: run poetry lock
  git_services/poetry.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update gunicorn to ^21.2.0
  git_services/poetry.lock
  git_services/pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): properly recover LFS from autosave
  git_services/git_services/cli/__init__.py
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): properly recover LFS from autosave (#1568)
  git_services/git_services/cli/__init__.py
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): parse old server options in request
  renku_notebooks/api/classes/crc.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): parse old server options in request (#1570)
  renku_notebooks/api/classes/crc.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.18.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.18.0 release (#1573)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

hibernation tests
  tests/integration/conftest.py
  tests/integration/test_session_persistence.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix
  git_services/git_services/init/cloner.py
  git_services/git_services/sidecar/commands/base.py
  tests/integration/test_session_persistence.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

test1
  README.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

test2
  README.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix values
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): two-step culling for js sessions
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/config/static.py
  tests/integration/test_session_persistence.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

address review comments
  renku_notebooks/__init__.py
  renku_notebooks/api/classes/k8s_client.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/errors/intermittent.py
  renku_notebooks/util/repository.py
  tests/integration/test_session_persistence.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
