Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

squashme: pin jwt to <2.0.0
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix for pyjwt < 2.0.0
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix formatting
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix ci deployment pipeline
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): use pyjwt to decode token (#818)
  Pipfile
  Pipfile.lock
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

test
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

chore: update renku actions to 0.3.1
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

test: trigger workflow with latest action version
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Revert "test: trigger workflow with latest action version"
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: test deploy renku action
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): apply CPU limits to user sessions
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: tests
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): apply CPU limits to user sessions (#826)
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: test
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): add termination grace period to sessions
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): use 3 scenarios for session cpu limits
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): user not authenticated and anonymous sessions not allowed
  renku_notebooks/api/auth.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix formatting
  renku_notebooks/api/auth.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix error in helm test
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(chart): bump amalthea to 0.2.2
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(chart): bump amalthea to 0.2.2 (#830)
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(app): use 3 scenarios for session cpu limits (#828)
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): user not authenticated and anonymous sessions not allowed (#829)
  renku_notebooks/api/auth.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.2.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(git-clone): use git url in curl command
  git-clone/clone.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.2.1 release (#831)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(ci): Update renku actions to test-update-action-4
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v0.3.2
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v0.3.2 (#833)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): return proper values for image and repository
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: dependabot updates batch 20211119 (#815)
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): return proper values for image and repository (#834)
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): Update default session image to renku/renkulab-py:3.9-tast-auto-update-6
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(app): Update default session image to renku/renkulab-py:3.9-tast-auto-update-8
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(app): Update default session image to renku/renkulab-py:3.9-tast-auto-update-10
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

Fix merge
  CHANGELOG.md
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(app): disable renku cli version check
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): do not accept an empty anonymous user id
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): do not accept an empty anonymous user id (#845)
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
