Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

add jupyterlab user pod egress network policy
  helm-chart/renku-notebooks/templates/user-pod-egress.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(ci): move to github dependabot
  .github/dependabot.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): move to github dependabot
  .github/dependabot.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.2 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 0.8.2 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

Disable userScheduler and userPlaceholder
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

disable egress network policy by default
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

remove custom tags used for testing and checked by accident
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

remove more custom tags
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

disable pod service links
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edit
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Update comment explaining line that prevents service links from appearing in user environment
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: Remove service links from user pods (#431)
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Disable continous puller
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: disable userScheduler, userPlaceholder and continous puller
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

feat: restrict user pod egress (#430)
  helm-chart/renku-notebooks/templates/user-pod-egress.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: add sentry environment
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/__init__.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add sentry environment (#434)
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/__init__.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

add cronjob that periodically deletes users image pull secrets
  helm-chart/renku-notebooks/templates/cronjob.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/clean-user-registry-secrets.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

test log warnings
  renku_notebooks/util/clean-user-registry-secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

set logging level python
  renku_notebooks/util/clean-user-registry-secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edit to find pod name by servername using annotations
  renku_notebooks/util/clean-user-registry-secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add serveiceaccountname to cronjob
  helm-chart/renku-notebooks/templates/cronjob.yaml
Owners: @SwissDataScienceCenter/kartografen

fix cronjob spec formatting
  helm-chart/renku-notebooks/templates/cronjob.yaml
Owners: @SwissDataScienceCenter/kartografen

fix up cronjob code
  renku_notebooks/util/clean-user-registry-secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

cleanup cronjob python code
  renku_notebooks/util/clean-user-registry-secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add message that cronjob started looking for secrets
  renku_notebooks/util/clean-user-registry-secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add tests, edit python code
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/clean-user-registry-secrets.py
  renku_notebooks/util/clean_user_registry_secrets.py
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edit cronjob
  helm-chart/renku-notebooks/templates/cronjob.yaml
Owners: @SwissDataScienceCenter/kartografen

escape underscores in server name
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/clean_user_registry_secrets.py
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edit code to work when escpaing servername that is None
  renku_notebooks/util/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

adjust tests
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edit chartpress for image for cleaning registry secrets
  chartpress.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edit values chart
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

edit cronjob spec
  helm-chart/renku-notebooks/templates/cronjob.yaml
Owners: @SwissDataScienceCenter/kartografen

move code to separate folder
  clean_user_registry_secrets/Dockerfile
  clean_user_registry_secrets/Pipfile
  clean_user_registry_secrets/Pipfile.lock
  clean_user_registry_secrets/clean_user_registry_secrets.py
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

remove sha from version that was committed in by accident
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/kartografen

add secret and pod labels
  jupyterhub/spawners.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

find user pod by labels
  clean_user_registry_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edits
  clean_user_registry_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
