Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

squashme: properly resolve conflicts
  helm-chart/renku-notebooks/requirements.lock
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: properly resolve conflicts
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: pipenv sync
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: update certificates library chart
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: fix values file
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: increase timeout
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: add tmate for debugging
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix values
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: fix tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: use tmate
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  renku_notebooks/api/amalthea_patches/inject_certificates.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: remove tmate
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): enable age-based session culling
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/kartografen

feat(app): enable age-based session culling (#848)
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

enhancement(app): standardized error responses
  renku_notebooks/__init__.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): use open api spec v3
  Pipfile
  Pipfile.lock
  renku_notebooks/__init__.py
  renku_notebooks/api/__init__.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/config.py
  renku_notebooks/util/misc.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: use oidc
  renku_notebooks/__init__.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: sync Pipfile.lock
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix formatting
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): case insensitive project and namespace
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add resource migrations
  resource_migrations/1.3.0.py
  resource_migrations/README.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: test scheduled ci cleanup
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: trigger action
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: trigger workflow
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: trigger workflow
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

test cleanup
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: trigger cleanup
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: trigger rerun
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

trigger action
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: trigger ci
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

trigger action
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

test
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

test
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: apply suggestions from code review
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: test acceptance tests
  .github/workflows/acceptance-tests.yml
  .github/workflows/scheduled-ci-cleanup.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

test
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

test
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
