Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

fix: remove user class from oauth callback
  renku_notebooks/api/auth.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: leftover variables that should have been renamed
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix tests
  .gitignore
  renku_notebooks/api/notebooks.py
  renku_notebooks/config.py
  tests/conftest.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: undo change to GITLAB_AUTH in spawners
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add webargs to servers get endpoint
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: do not make http responses in server class
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: generalize pvc naming
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/rules.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: make storage class for user session pvs configurable
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

turns out we need rules.toml
  .gitignore
  tests/rules.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix naming in role/clusterrole templates
  helm-chart/renku-notebooks/templates/clusterrole.yaml
  helm-chart/renku-notebooks/templates/role.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: allow disk requests outside the suggested values
  helm-chart/renku-notebooks/values.schema.json
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/util/misc.py
  tests/dummy_server_options.json
  tests/rules.toml
  tests/test_schema_validation.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: refactor role/rolebinding templates
  helm-chart/renku-notebooks/templates/clusterrole.yaml
  helm-chart/renku-notebooks/templates/role.yaml
  helm-chart/renku-notebooks/templates/session-pv-rbac.yaml
Owners: @SwissDataScienceCenter/kartografen

feat: use pvs for user sessions (#573)
  git-clone/entrypoint.sh
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/role.yaml
  helm-chart/renku-notebooks/templates/session-pv-rbac.yaml
  helm-chart/renku-notebooks/values.schema.json
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/spawners.py
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
  renku_notebooks/util/file_size.py
  renku_notebooks/util/kubernetes_.py
  renku_notebooks/util/misc.py
  tests/conftest.py
  tests/dummy_server_options.json
  tests/rules.toml
  tests/test_notebook.py
  tests/test_schema_validation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: cleanup after merging from master
  renku_notebooks/util/kubernetes_.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: move user pvc logic into server class
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly handle case if pvc exists
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: revert rules.toml to original state
  renku_notebooks/api/classes/server.py
  tests/rules.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

address comments
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add/revise docstrings
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

refactor: use python classes (#541)
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/__init__.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/decorators.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
  renku_notebooks/util/check_image.py
  renku_notebooks/util/gitlab_.py
  renku_notebooks/util/jupyterhub_.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/rules.toml
  tests/test_auth.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Dependabot updates (#595)
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add remote debugging with vscode
  .gitignore
  Dockerfile
  Pipfile
  Pipfile.lock
  README.rst
  helm-chart/renku-notebooks/templates/deployment.yaml
  renku_notebooks/.vscode/launch.json
  renku_notebooks/__init__.py
  renku_notebooks/util/kubernetes_.py
  run-telepresence.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

Use gitlab URL and registry from global
  helm-chart/minikube-values.yaml
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

Reorganize GitLab values
  helm-chart/minikube-values.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: increase huboauth caching from 1min to 5min
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

ci: enforce deploy string command
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: unset lfs auth mode in init container
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: don't fail on error
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

ci: enforce deploy string command (#604)
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: increase huboauth caching from 1min to 5min (#603)
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add autosave information endpoint
  renku_notebooks/__init__.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: syntax errors
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: syntax errors
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: allow notebooks embedding in iframe
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: syntax errors
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: schema field types for autosaves
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: check if project in autosave request exists
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: type in autosave schema
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: show root commit sha
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: show both pvcs and branches if pvc support is enabled
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
