Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

update helm chart version for 0.8.7 release
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: prep for 0.8.7 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep for 0.8.7 release (#536)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: adapt ci/cd logic
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: validate server options values are valid when launching notebook
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/util/misc.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: simplify server options check logic
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: validate server options (#529)
  helm-chart/renku-notebooks/values.schema.json
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/util/misc.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: unknown gpu field in resources request
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly handle gpu field in resources request
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly handle gpu field in resources request
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: unknown gpu field in resources request (#538)
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.8 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 0.8.8 release (#539)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: isolate k8s client and namespace in function instead of have then global
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: make prefix, auth and headers not global
  renku_notebooks/api/auth.py
  renku_notebooks/util/jupyterhub_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: keep track of k8s pods during testing
  renku_notebooks/config.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

enhancement: add server class
  renku_notebooks/api/classes/__init__.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: fix tests part 1
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  tests/conftest.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: fix tests part 2
  tests/conftest.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: env variable checking
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: url for checking if the namespace exists
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: clearer error messages for missing project, commit, etc when launching server
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: clearer error messages for missing project, commit, etc when launching server
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: getting oauth token in server class
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly access secret name in server class
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly acccess pod metadata
  renku_notebooks/api/classes/server.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: remove unneeded gitlab namespace check
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  tests/conftest.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: annotation and request name differences
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: allow any values in default url server options, not just fixed choices
  renku_notebooks/__init__.py
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: regex for default url server option
  renku_notebooks/api/custom_fields.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: remove notebook url validation
  renku_notebooks/api/custom_fields.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: allow and include unknown annotations in schema
  renku_notebooks/api/schemas.py
  tests/test_schema_validation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: do not check defaultUrl against list of server options (#542)
  renku_notebooks/__init__.py
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add label for hub networkpolicy selector
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: allow and include unknown annotations in schema (#546)
  renku_notebooks/api/schemas.py
  tests/test_schema_validation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add label for hub networkpolicy selector
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: recreate pipenv lockfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: switch to debian based python image
  Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Prep 0.8.9
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 0.8.9 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
