Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

chore(ci): Update renku actions to v1.4.3
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

address comments
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/errors/user.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.4.4
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  .github/workflows/integration-tests.yml
  Dockerfile
  Dockerfile.tests
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.schema.json
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/crac.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/server_manifest.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/config_server_options.py
  renku_notebooks/api/schemas/custom_fields.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/api/schemas/servers_post.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/util/server_options.py
  tests/integration/test_server_options.py
  tests/unit/dummy_server_defaults.json
  tests/unit/dummy_server_options.json
  tests/unit/test_custom_fields.py
  tests/unit/test_server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: fix linting
  renku_notebooks/api/schemas/config_server_options.py
  renku_notebooks/api/schemas/servers_post.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): Update default session image to renku/renkulab-py:3.9-0.17.0
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(ci): Update renku actions to v1.4.5
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add action to combine dependabot PRs
  .github/workflows/combine-dependabot-updates.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.4.5 (#1497)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: k8s-watcher/Dockerfile to reduce vulnerabilities
  k8s-watcher/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.4.6
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git-https-proxy/Dockerfile to reduce vulnerabilities
  git-https-proxy/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.4.6 (#1505)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: put back server options
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.schema.json
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: properly render crac service url
  helm-chart/renku-notebooks/templates/_helpers.tpl
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: add priority class in amalthea patches
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/crac.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas/server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: properly set crac service name
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: renku crac to crc
  renku_notebooks/api/classes/crc.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: rename crac to crc
  helm-chart/renku-notebooks/templates/_helpers.tpl
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/crc.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/config/__init__.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git-https-proxy/Dockerfile to reduce vulnerabilities
  git-https-proxy/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): Update default session image to renku/renkulab-py:3.9-0.18.0
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: surface resource quota errors
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: show storage
  renku_notebooks/api/classes/crc.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add action to combine dependabot PRs (#1500)
  .github/workflows/combine-dependabot-updates.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

update lock file
  poetry.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: upgrade amalthea to 0.7.0
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: add metrics
  poetry.lock
  pyproject.toml
  renku_notebooks/__init__.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: run ci on self-hosted runner
  .github/workflows/ci.yml
  .github/workflows/combine-dependabot-updates.yml
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: trigger ci
  LICENSE
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  Dockerfile.tests
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
  renku_notebooks/api/classes/crc.py
  renku_notebooks/api/schemas/servers_post.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update renku cli version
  git_services/poetry.lock
  git_services/pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): use crc service (#1483)
  .github/workflows/integration-tests.yml
  Dockerfile
  Dockerfile.tests
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
  git_services/poetry.lock
  git_services/pyproject.toml
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/__init__.py
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/crc.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/server_manifest.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/config_server_options.py
  renku_notebooks/api/schemas/custom_fields.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/servers_post.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/errors/user.py
  renku_notebooks/util/server_options.py
  tests/integration/test_server_options.py
  tests/unit/dummy_server_defaults.json
  tests/unit/dummy_server_options.json
  tests/unit/test_custom_fields.py
  tests/unit/test_server_class/test_manifest.py
  tests/unit/test_server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.16.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(app): Update default session image to renku/renkulab-py:3.9-0.18.0 (#1513)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: prep 1.16.0 release (#1529)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

update lock file
  poetry.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix errors
  git_services/poetry.lock
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/errors/user.py
  renku_notebooks/util/check_image.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: run flake8 outside of pytest
  .github/workflows/ci.yml
  git_services/poetry.lock
  git_services/pyproject.toml
  poetry.lock
  pyproject.toml
  setup.cfg
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
