Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

chore: update git-sidecar/Dockerfile to have localhost ip
  git-sidecar/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add git-sidecar to paths in chartpress file
  chartpress.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix accidental commit of sha-type tag in values for chart
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: test creating namespace
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: test
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: test
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update renku actions version in ci/cd
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update acceptance tests for new infra
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

CI: add rancher dev API endpoint parameter
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: dependabot Updates Batch (#705)
  Pipfile
  Pipfile.lock
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.14 release (#697)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: just used to trigger acceptance tests
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

fix: do not use ephemeral storage in server responses - use proper storage numbers
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use same format for memory and storage
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use username in pvc name
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/schemas.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_autosaves.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix telepresence script
  run-telepresence.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Update renku_notebooks/util/kubernetes_.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: show disk request options by default in values yaml file
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: increase liveness probe duration for git-sidecar
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly display storage (#708)
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/schemas.py
  renku_notebooks/util/kubernetes_.py
  run-telepresence.sh
  tests/conftest.py
  tests/test_autosaves.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update changelog and chart version
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: update changelog and chart version for renku 0.8.15 (#710)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: test with setting host in http header for probes
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: set host in readiness/liveness probes for git sidecar to localhost
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: set host to 0.0.0.0 in git sidecar
  git-sidecar/Dockerfile
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly assign storage class name property in crd
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: use latest amalthea version
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: specify command and entrypoint since they have been removed from amalthea
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: merge command and entrypoint
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: upper case letters in pvc name
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use escapism on project name used in k8s pvc name
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: upper case letters in pvc name (#713)
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.16 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: remove repeated title
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.16 release (#714)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: command and args for jupyterserver (#700)
  .github/workflows/integration-tests.yml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  tests/integration/conftest.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: move resource request and limit modifications to amalthea
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: remove hub from jypyter annotation prefix
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: use move oidc allow unverified email option to values
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: edit values for integration tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
