Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

chore: fix resource summary when listing sessions
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix integration tests
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  tests/integration/test_autosaves.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix linting errors
  renku_notebooks/api/classes/dataset.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: various bugs with s3 buckets
  renku_notebooks/api/classes/dataset.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: do not accept public datasets
  renku_notebooks/api/classes/dataset.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: add back tolerations to run on dedicated nodes
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: add git https proxy health endpoint
  git-https-proxy/mitmproxy.js
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: make sure anonymous server names start with alphabetic char
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: undo previous change
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: adapt to traefik removal
  .gitignore
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: do not expose git sidecar for the moment
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: rename USERNAME to RENKU_USERNAME
  git-sidecar/clone.sh
  helm-chart/renku-notebooks/templates/configmap.yaml
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: move disabling of service links to amalthea
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: add more env variables to main container
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: don't overwrite entrypoint
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: fix telepresence mode for telepresence 1.x
  renku_notebooks/util/misc.py
  run-telepresence.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: correct the usage of gitlab and renku identity respectively
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

refactor: only query gitlab when needed
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add git user config only to authenticated sessions
  git-sidecar/clone.sh
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: leave dummy file in repo to avoid race condition
  git-sidecar/clone.sh
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: dependabot updates batch (#724)
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix unit tests
  tests/unit/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: remove unused import
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/util/misc.py
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git proxy should let through unrecognized requests without adding auth headers
  git-https-proxy/mitmproxy.js
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  git-https-proxy/mitmproxy.js
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git proxy should let through unrecognized requests (#742)
  git-https-proxy/mitmproxy.js
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add credentials in git proxy if host matches
  git-https-proxy/mitmproxy.js
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Changelog updates for GitLab cloudnative
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: replace pipx in Dockerfile.tests
  Dockerfile.tests
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: move git clone back to init container
  chartpress.yaml
  git-clone/Dockerfile
  git-clone/clone.sh
  git-rpc-server/Dockerfile
  git-rpc-server/Pipfile
  git-rpc-server/Pipfile.lock
  git-rpc-server/rpc-server.py
  git-sidecar/clone.sh
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squasme: bumb amalthea version
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: move git clone back to init container
  chartpress.yaml
  git-clone/Dockerfile
  git-clone/clone.sh
  git-rpc-server/Dockerfile
  git-rpc-server/Pipfile
  git-rpc-server/Pipfile.lock
  git-rpc-server/rpc-server.py
  git-sidecar/clone.sh
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: update amalthea version to 0.1.0-rc10
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: fix integration tests
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: user renkubot gitlab access token for integration tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: enable acceptance tests for amalthea
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: enable acceptance tests for amalthea
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: troubleshoot integration tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: troubleshott integration tests
  .github/workflows/integration-tests.yml
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
