Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

fix: handle Gitlab token expiry (#1338)
  .github/workflows/integration-tests.yml
  git-https-proxy/Dockerfile
  git-https-proxy/config/config.go
  git-https-proxy/config/config_test.go
  git-https-proxy/go.mod
  git-https-proxy/go.sum
  git-https-proxy/main.go
  git-https-proxy/main_test.go
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(app): snyk vulnerabilities (#1341)
  .gitignore
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): Update default session image to renku/renkulab-py:3.9-0.13.1 (#1320)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(sidecar): use list of args in git LFS commands
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.4.2 (#1340)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(sidecar): use list of args in git LFS commands (#1344)
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: test ci
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.14.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.14.0 release (#1352)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(app): propagate environment variables for R (#1339)
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: move s3 mount location
  renku_notebooks/api/classes/cloud_storage/s3mount.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): azure blob experimental support
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  poetry.lock
  pyproject.toml
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/cloud_storage/__init__.py
  renku_notebooks/api/classes/cloud_storage/azure_blob.py
  renku_notebooks/api/classes/cloud_storage/existing.py
  renku_notebooks/api/classes/cloud_storage/s3mount.py
  renku_notebooks/api/classes/k8s_client.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/server_manifest.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/cloud_storage.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/servers_post.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/errors/user.py
  tests/integration/test_session_creation.py
  tests/unit/test_k8s_client.py
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  helm-chart/renku-notebooks/templates/test.yaml
  renku_notebooks/config/dynamic.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  tests/integration/test_server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git_services/Dockerfile.init to reduce vulnerabilities
  git_services/Dockerfile.init
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git_services/Dockerfile.sidecar to reduce vulnerabilities
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  renku_notebooks/api/classes/cloud_storage/existing.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/cloud_storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: additional azure blob fixes
  renku_notebooks/api/classes/cloud_storage/__init__.py
  renku_notebooks/api/classes/cloud_storage/azure_blob.py
  renku_notebooks/api/classes/cloud_storage/existing.py
  renku_notebooks/api/classes/cloud_storage/s3mount.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): experimental azure blob storage support (#1374)
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  poetry.lock
  pyproject.toml
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/cloud_storage/__init__.py
  renku_notebooks/api/classes/cloud_storage/azure_blob.py
  renku_notebooks/api/classes/cloud_storage/existing.py
  renku_notebooks/api/classes/cloud_storage/s3mount.py
  renku_notebooks/api/classes/k8s_client.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/server_manifest.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/cloud_storage.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/servers_post.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/errors/user.py
  tests/integration/test_server_options.py
  tests/integration/test_session_creation.py
  tests/unit/test_k8s_client.py
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update poetry
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update poetry
  Dockerfile
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: ssh access to sessions
  chartpress.yaml
  helm-chart/renku-notebooks/templates/ssh.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/ssh.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  ssh-jump-host/Dockerfile
  ssh-jump-host/sshd_config
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: update amalthea
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

feat: add support for starting ssh enabled sessions
  .github/workflows/integration-tests.yml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.schema.json
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/server_manifest.py
  renku_notebooks/api/schemas/config_server_options.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  tests/unit/dummy_server_defaults.json
  tests/unit/dummy_server_options.json
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

add ssh enabled to /version endpoint
  helm-chart/renku-notebooks/templates/statefulset.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

make jump host verbose
  ssh-jump-host/sshd_config
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(session): fail when injecting env vars that exist in session
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/errors/programming.py
  renku_notebooks/errors/user.py
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

refactor tests
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add ingress/egress network policies
  helm-chart/renku-notebooks/templates/network-policy.yaml
  ssh-jump-host/sshd_config
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git-https-proxy/Dockerfile to reduce vulnerabilities
  git-https-proxy/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: k8s-watcher/Dockerfile to reduce vulnerabilities
  k8s-watcher/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git_services/Dockerfile.init to reduce vulnerabilities
  git_services/Dockerfile.init
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git_services/Dockerfile.sidecar to reduce vulnerabilities
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

address review comments
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(session): fail when injecting env vars that exist in session (#1396)
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/errors/programming.py
  renku_notebooks/errors/user.py
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): Update default session image to renku/renkulab-py:3.9-0.14.0
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(sidecar): anon users clone repo at correct SHA
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: ssh access to sessions with jump host (#1389)
  chartpress.yaml
  helm-chart/renku-notebooks/templates/network-policy.yaml
  helm-chart/renku-notebooks/templates/ssh.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/ssh.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  ssh-jump-host/Dockerfile
  ssh-jump-host/sshd_config
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen
