Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

fix(app): show if ssh enabled in /version
  renku_notebooks/api/schemas/version.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(sidecar): anon users clone repo at correct SHA (#1406)
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): show if ssh enabled in /version (#1407)
  renku_notebooks/api/schemas/version.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: token refresh check frequency and threshold
  git-https-proxy/config/config.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix ssh service type
  helm-chart/renku-notebooks/templates/ssh.yaml
Owners: @SwissDataScienceCenter/kartografen

fix ssh service type (#1410)
  helm-chart/renku-notebooks/templates/ssh.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(app): missing return statement
  renku_notebooks/api/classes/server_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): Update default session image to renku/renkulab-py:3.9-0.14.0 (#1405)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(app): missing return statement (#1412)
  renku_notebooks/api/classes/server_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.15.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: address comments
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.15.0 release (#1414)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

ignore: just for testing
  README.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(git-proxy): refresh token expiry check
  git-https-proxy/config/config.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(chart): make ssh disabled by default
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(git-proxy): refresh token expiry check (#1416)
  git-https-proxy/config/config.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(chart): make ssh disabled by default (#1417)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: prep 1.15.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.15.1 release (#1418)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(app): Update default session image to renku/renkulab-py:3.9-0.15.0
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: use lab instead of notebook
  renku_notebooks/api/amalthea_patches/jupyter_server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Update jupyter_server.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): prefer to launch with `jupyter server`
  renku_notebooks/api/amalthea_patches/jupyter_server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): server filtering parameter names
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): server filtering parameter names (#1423)
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.15.2 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.15.2 release (#1426)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(app): Update default session image to renku/renkulab-py:3.9-0.15.1
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(app): Update default session image to renku/renkulab-py:3.9-0.16.0
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: add dependabot updates for auxiliary services
  .github/dependabot.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add dependabot updates for auxiliary services (#1433)
  .github/dependabot.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): Update default session image to renku/renkulab-py:3.9-0.16.0 (#1432)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: do not fail on submodule errors
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: do not fail on submodule errors (#1472)
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): use crac service
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/crac.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/api/schemas/servers_post.py
  renku_notebooks/config/__init__.py
  renku_notebooks/errors/user.py
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add session warnings to jupyter server API responses
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: switch to debian for faster builds
  Dockerfile
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
  renku_notebooks/config/dynamic.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fixes
  Dockerfile
  renku_notebooks/__init__.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix docker builds
  Dockerfile
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: remove curl
  Dockerfile
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
