Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

squashme: warn if branch or commit does not exist
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): eliminate unnecessary gitlab calls (#1035)
  renku_notebooks/api/classes/server.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(docs): add sequence diagram to readme
  README.md
  README.rst
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers

feat: add git error codes to notebooks response
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep release 1.7.0
  .gitignore
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep release 1.7.0 (#1062)
  .gitignore
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: make error messages properly surface
  git_services/git_services/init/cloner.py
  git_services/git_services/init/errors.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: make error messages properly surface (#1064)
  git_services/git_services/init/cloner.py
  git_services/git_services/init/errors.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add git error codes to notebooks response (#1055)
  git_services/git_services/init/cloner.py
  git_services/git_services/init/errors.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: amend changelog
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
  git_services/git_services/sidecar/config.py
  git_services/git_services/sidecar/rpc_server.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: amend changelog (#1072)
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): check bucket location is in endpoint
  renku_notebooks/api/classes/s3mount.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): accept only valid urls for s3 endpoints
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

enahance(app): minimize gitlab api calls
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix unhandled error
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): use state from amalthea
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: set status to failed when unschedulable
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

enahance(app): minimize gitlab api calls (#1087)
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): handle missing project in autosave list
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: remove git sidecar for anonymus users
  helm-chart/renku-notebooks/templates/network-policies.yaml
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore(docs): add sequence diagram to readme (#1047)
  README.md
  README.rst
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers

chore: use poetry
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  Dockerfile
  Dockerfile.tests
  Pipfile.lock
  helm-chart/renku-notebooks/templates/statefulset.yaml
  poetry.lock
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: remove other pipenv references
  .pre-commit-config.yaml
  README.md
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: use poetry (#1093)
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.tests
  Pipfile.lock
  README.md
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  poetry.lock
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: update poetry.lock
  poetry.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: apply edit suggestion
  renku_notebooks/api/classes/s3mount.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: modify s3 endpoint with region if needed
  renku_notebooks/api/classes/s3mount.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: algorithms parameter for new pyjwt version
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/classes/s3mount.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  renku_notebooks/api/classes/s3mount.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): s3 bucket location (#1083)
  renku_notebooks/api/classes/s3mount.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): surface message and status when pod is unschedulable (#1088)
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): show starting message
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): show session resource usage (#968)
  renku_notebooks/__init__.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/health.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/api/schemas/__init__.py
  renku_notebooks/api/schemas/autosave.py
  renku_notebooks/api/schemas/cloud_storage.py
  renku_notebooks/api/schemas/config_server_options.py
  renku_notebooks/api/schemas/custom_fields.py
  renku_notebooks/api/schemas/logs.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/servers_post.py
  renku_notebooks/api/schemas/version.py
  renku_notebooks/config.py
  renku_notebooks/util/file_size.py
  renku_notebooks/util/server_options.py
  tests/integration/conftest.py
  tests/integration/test_server_options.py
  tests/integration/test_session_creation.py
  tests/unit/test_custom_fields.py
  tests/unit/test_schema_validation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): show starting message (#1099)
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): custom certs env variables in git clone
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix linting errors
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
