Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

chore(ci): fix missing variable and pin CI actions (#632)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: changelog for 0.8.12
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: changelog for 0.8.12 (#634)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix missing annotations handling in marshmallow
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix missing annotations handling in marshmallow (#637)
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update changelog
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update github actions version for workflow-run-cleanup-action
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update changelog for 0.8.12 release (#638)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Fix values.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: dependabot updates batch
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

test: no clusterrole
  helm-chart/renku-notebooks/templates/session-pv-rbac.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: clusterrole binding is not required for user session PVCs
  helm-chart/renku-notebooks/templates/session-pv-rbac.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: clusterrole is not required for user session PVCs (#641)
  helm-chart/renku-notebooks/templates/session-pv-rbac.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: dont check for commit distance when cleaning up autosaves
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use gitlab merge_base api to find commit parents
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: remove hardcoded 'default' storage class from user session PVC creation
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: cleanup PVS and autosave branches (#611)
  git-clone/entrypoint.sh
  helm-chart/renku-notebooks/templates/configmap.yaml
  jupyterhub/spawners.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
  renku_notebooks/util/misc.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: limit emptydir size
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly assign default values to server options
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add tests for checking proper server options defaults are used
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

remove size limit for emptyDir
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add backup defaults for gpu and disk size in schemas
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: remove defaults assignment to server options in JH spawner
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add disk size limit for emptyDir
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: make all server options mandatory in values file for helm chart
  helm-chart/renku-notebooks/values.schema.json
Owners: @SwissDataScienceCenter/kartografen

fix: split server options for UI and for notebooks defaults
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.schema.json
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
  renku_notebooks/util/misc.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: set empty dictionary for missing ui server options
  helm-chart/renku-notebooks/templates/configmap.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: minor fix
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: update values yaml instructions on ephemeral storage limits
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: fix tests
  tests/conftest.py
  tests/dummy_server_options_defaults.json
  tests/dummy_server_options_ui.json
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: split ui server options and default server options schemas and fields
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
  run-telepresence.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add default server options to values file
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: require at least lfs auto fetch option in UI server options
  helm-chart/renku-notebooks/values.schema.json
Owners: @SwissDataScienceCenter/kartografen

fix: properly enforce server option defaults when no alternatives are possible in ui server options
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/schemas.py
  tests/dummy_server_options_ui.json
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add autosave classes
  renku_notebooks/api/classes/storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fixes
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_autosaves.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fixes
  renku_notebooks/__init__.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add autosave names to endpoint
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/schemas.py
  tests/test_autosaves.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fixes
  renku_notebooks/api/classes/storage.py
  tests/test_autosaves.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fixes
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
