Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

chore: accept null as disk request value
  helm-chart/renku-notebooks/values.schema.json
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: use "" for unlimited session storage
  helm-chart/renku-notebooks/values.schema.json
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update amalthea to 0.1.2
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(app): parse gpus to int in server response
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): option to not limit size of user session emptyDir (#785)
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.schema.json
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): displaying gpu resources in API responses (#786)
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: modify for custom CA certificates
  git-https-proxy/Dockerfile
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/__init__.py
  renku_notebooks/api/amalthea_patches/autosave.py
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/amalthea_patches/inject_certificates.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/amalthea_patches/utils.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: fix black formatting
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: install typing_extensions package so that black update works
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prepare 1.0.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prepare 1.1.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prepare 1.1.0 release (#791)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: add ingress annotation in each session that allows iframes to function
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix patch for ingress
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix black formatting
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: make session ingress annotation simpler
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add ingress annotation to each session so iframes work (#794)
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.1.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: update amalthea version
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: prep 1.1.1 release (#795)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

revertme: prep for bit
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(app): master is always checked out
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): check out the correct branch instead of always master(#802)
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(chart): use current fallback renku image
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(chart): use current fallback renku image (#803)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

feat(chart): session tolerations, affinities, nodeSelector
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix typos
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/kartografen

feat(chart): add session tolerations, affinity, nodeSelector (#806)
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.2.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: debug integration tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: use new amalthea version
  .github/workflows/integration-tests.yml
  CHANGELOG.md
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.2.0 release (#807)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: fix chart publishing
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix chart publishing
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): do not delete autosaves before restoring
  renku_notebooks/api/classes/storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): do not delete autosaves before restoring (#814)
  renku_notebooks/api/classes/storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(ci): use organization wide secret for values
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix ci deployment pipeline
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): use pyjwt to decode token
  Pipfile
  Pipfile.lock
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
