Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

fix: ensure pvc name does not violate k8s requirements
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: increase acceptance test timeout
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add unit tests for autosave functionality
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  tests/conftest.py
  tests/test_autosaves.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: don't fail on error
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: unset lfs auth mode in init container
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: increase acceptance test timeout
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

update changelog for 0.8.11 release
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

bump chart version
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/kartografen

prep 0.8.11 release (#608)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat: endpoint for autosave information (#607)
  renku_notebooks/__init__.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  tests/conftest.py
  tests/test_autosaves.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: remove old pvcs and autosave branches
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: remove old pvcs only when they are not mounted to a user pod
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add debug statements
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

change status codes
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add preStop hook to save unpushed commits
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: ensure entrypoint does not run when pvc exists
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add debug statements
  git-clone/entrypoint.sh
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: pre-stop script should stash changes and re-apply after backup
  helm-chart/renku-notebooks/templates/configmap.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: fix logic for patching an existing pvc
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: getting all pvcs of user pods
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: remove autosave branches if a matching pvc is found
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: black formatting
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

revert multiple dependabot commits
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: filter function order of parameters
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use latest remote commit in autosave branch
  helm-chart/renku-notebooks/templates/configmap.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: handle unpushed but commited commits
  helm-chart/renku-notebooks/templates/configmap.yaml
Owners: @SwissDataScienceCenter/kartografen

Add debug statements
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edits
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edits
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: delete old autosaves based on commit distance
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: delete old autosave branches in git-clone entrypoint
  git-clone/entrypoint.sh
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: syntax error in git-clone entrypoint
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly set credentials in entrypoint to git-clone
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: syntax error in git-clone entrypoint
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: syntax error in git-clone entrypoint
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: syntax error in git-clone entrypoint
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use defaults from server options file - not hardcoded values
  renku_notebooks/api/schemas.py
  renku_notebooks/util/misc.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): add CHART_NAME to publish-chart
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add missing CHART_NAME var in ci image publishing step
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): pin imported actions
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
