Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

fix dictionary flattening
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Update jupyterhub in requirements
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

feat(app): move gitlab oauth token to separate proxy container
  chartpress.yaml
  git-clone/entrypoint.sh
  git-https-proxy/Dockerfile
  git-https-proxy/mitmproxy.js
  git-https-proxy/package-lock.json
  git-https-proxy/package.json
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/spawners.py
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 0.8.6 release
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.6 release
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): fix bug in git-https-proxy
  git-https-proxy/mitmproxy.js
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): fix bug in git-https-proxy
  git-https-proxy/mitmproxy.js
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: correct order of lfs pull and repo config for git proxy
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: cannot create user env due to invalid k8s secret labels
  cull_secrets/clean_user_registry_secrets.py
  jupyterhub/spawners.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Reshuffle labels and annotations
  cull_secrets/clean_user_registry_secrets.py
  jupyterhub/spawners.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edit
  cull_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Fix tests
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Rename SeversPostReqest schema name to LaunchNotebookRequest
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: remove print statement
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add docstrings to schema classes
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

duplicate some annotations as labels
  jupyterhub/spawners.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update CI badge
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

chore: update CI badge (#494)
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

ci: update helm url
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

ci: update helm url (#495)
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

bug: launching sessions that are part of a subgroup fails (#493)
  cull_secrets/clean_user_registry_secrets.py
  jupyterhub/spawners.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly determin user server pod status with multiple containers
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly recognize Terminating status
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: correct logic for terminating status
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: k8s api does not return dictionaries, use getattr
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: deletion timestamp attribute name
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

bug: launching sessions that are part of a subgroup fails (#493)
  cull_secrets/clean_user_registry_secrets.py
  jupyterhub/spawners.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

ci: update helm url (#495)
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Update renku_notebooks/util/kubernetes_.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Update renku_notebooks/util/kubernetes_.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: black formatting
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: improve some wording in comments
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: remove traces of unused dependency
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update readme
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

fix: properly recognize pod status when terminating (#497)
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: correct order of lfs pull and repo config for git proxy (#486)
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Remove unneeded dependencies
  jupyterhub/requirements.txt
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

make annotations labels schema backwards compatible
  renku_notebooks/api/schemas.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix getting logs for pod
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix black formatting
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
