Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

feat: add repository url to annoations (#266)
  jupyterhub/spawners.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add requested resources info to servers endpoint (#261)
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Fix indent userScheduler
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: fix indent userScheduler (#270)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: bump chart version
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/kartografen

build: update pipenv
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use registry API to find image
  renku_notebooks/util/gitlab_.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use registry API to find image
  renku_notebooks/util/gitlab_.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: bump chart version
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/kartografen

build: update pipenv
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: contrain the container gids
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: contrain the container gids
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

docs: update changelog for 0.7.1
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

docs: update changelog for 0.7.1 (#279)
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: allow unprivileged an anonymous users to launch servers
  helm-chart/make-values-tmp.py
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/ingress.yaml
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/requirements.txt
  jupyterhub/spawners.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/config.py
  renku_notebooks/util/gitlab_.py
  renku_notebooks/util/kubernetes_.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

feat: allow unprivileged an anonymous users to launch servers
  helm-chart/make-values-tmp.py
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/ingress.yaml
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/requirements.txt
  jupyterhub/spawners.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/config.py
  renku_notebooks/util/gitlab_.py
  renku_notebooks/util/kubernetes_.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

feat: autosave/restore only when session is authenticated
  git-clone/entrypoint.sh
  helm-chart/renku-notebooks/templates/configmap.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat: enable autosave for authenticated developers
  git-clone/entrypoint.sh
  helm-chart/renku-notebooks/templates/configmap.yaml
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

Fix for gitlab URL
  helm-chart/make-values-tmp.py
Owners: @SwissDataScienceCenter/kartografen

feat: enable autosave in init pod
  git-clone/entrypoint.sh
  helm-chart/renku-notebooks/templates/configmap.yaml
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat: autosave/restore only when session is authenticated (#289)
  git-clone/entrypoint.sh
  helm-chart/renku-notebooks/templates/configmap.yaml
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: gitlab URL on tmp deployment (#291)
  helm-chart/make-values-tmp.py
Owners: @SwissDataScienceCenter/kartografen

chore: remove obsolete script
  helm-chart/make-values-tmp.py
Owners: @SwissDataScienceCenter/kartografen

docs: update changelog for 0.7.2 release
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: remove obsolete script
  helm-chart/make-values-tmp.py
Owners: @SwissDataScienceCenter/kartografen

docs: update changelog for 0.7.2 release
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use lowercase image repository names
  renku_notebooks/util/gitlab_.py
  tests/conftest.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use lowercase image repository names
  renku_notebooks/util/gitlab_.py
  tests/conftest.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: bump chart version
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: bump chart version
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: update changelog for 0.7.3
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update changelog for 0.7.3
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: bump chart version post 0.7.3
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: bump chart version post 0.7.3
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: bump chart version
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: bump chart version (#319)
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/kartografen

feat: use the user's credentials for pulling images
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/templates/role.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: remove pull secret references
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/registry-secret.yaml
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: only create secret if project is not public
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
