Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

squashme: return all logs as whole strings
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): increase probe frequency
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app)!: better messages on session launch fail (#923)
  Dockerfile.tests
  renku_notebooks/api/schemas.py
  tests/integration/conftest.py
  tests/integration/test_image_check_logic.py
  tests/integration/test_server_options.py
  tests/integration/test_session_crash_errors.py
  tests/integration/test_session_creation.py
  tests/integration/utils.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: fix tests
  tests/integration/conftest.py
  tests/integration/test_autosaves.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): return logs from all containers (#887)
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  tests/integration/conftest.py
  tests/integration/test_session_crash_errors.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): add sentry to session clone and sidecar
  git_services/git_services/cli/sentry.py
  git_services/git_services/init/clone.py
  git_services/git_services/init/config.py
  git_services/git_services/sidecar/config.py
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.5.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.5.0 release (#964)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(ci): use org secrets for dockerhub
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): show session resource usage
  renku_notebooks/__init__.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/health.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/api/schemas/__init__.py
  renku_notebooks/api/schemas/autosave.py
  renku_notebooks/api/schemas/cloud_storage.py
  renku_notebooks/api/schemas/config_server_options.py
  renku_notebooks/api/schemas/custom_fields.py
  renku_notebooks/api/schemas/logs.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/servers_post.py
  renku_notebooks/api/schemas/version.py
  renku_notebooks/config.py
  renku_notebooks/util/file_size.py
  renku_notebooks/util/server_options.py
  tests/unit/test_custom_fields.py
  tests/unit/test_schema_validation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): enable s3 flag in server options
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): enable s3 flag in server options (#969)
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.5.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: address comments
  git_services/git_services/init/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): Update default session image to renku/renkulab-py:3.9-0.11.1
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: prep 1.5.1 release (#970)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: minor fix
  git_services/git_services/init/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): use python for git clone (#956)
  Pipfile
  Pipfile.lock
  chartpress.yaml
  git-clone/Dockerfile
  git-clone/clone.sh
  git-rpc-server/Dockerfile
  git-rpc-server/Pipfile
  git-rpc-server/Pipfile.lock
  git-rpc-server/rpc-server.py
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
  git_services/git_services/__init__.py
  git_services/git_services/cli/__init__.py
  git_services/git_services/cli/sentry.py
  git_services/git_services/init/__init__.py
  git_services/git_services/init/clone.py
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
  git_services/git_services/init/errors.py
  git_services/git_services/sidecar/__init__.py
  git_services/git_services/sidecar/config.py
  git_services/git_services/sidecar/rpc_server.py
  git_services/git_services/sidecar/run_command.py
  git_services/poetry.lock
  git_services/pyproject.toml
  git_services/tests/__init__.py
  git_services/tests/conftest.py
  git_services/tests/test_autosave.py
  git_services/tests/test_git_cli.py
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  renku_notebooks/api/amalthea_patches/autosave.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/server.py
  tests/integration/conftest.py
  tests/integration/test_autosaves.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(app): Update default session image to renku/renkulab-py:3.9-0.11.1 (#972)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(ci): make master the target for dependabot
  .github/dependabot.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): add sentry to git clone (#963)
  git_services/git_services/cli/sentry.py
  git_services/git_services/init/clone.py
  git_services/git_services/init/config.py
  git_services/git_services/sidecar/config.py
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

wip
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v0.5.1
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v0.5.1 (#977)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): make master the target for dependabot (#973)
  .github/dependabot.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): use org secrets for dockerhub (#965)
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update black to 22.3.0
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update black to 22.3.0 (#983)
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

wip
  git-https-proxy/Dockerfile
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

wip
  git-https-proxy/Dockerfile
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

just to test an action
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

just used to test an action
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

update cleanup script version
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): add endpoint to verify docker image availability
  renku_notebooks/__init__.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor corrections
  renku_notebooks/__init__.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: add tests
  tests/integration/test_image_check_endpoint.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
