Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

squashme: remove chartpress reset in pre-commit hook
  .pre-commit-config.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix formatting
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
  git_services/git_services/init/errors.py
  git_services/git_services/sidecar/rpc_server.py
  git_services/tests/test_autosave.py
  git_services/tests/test_git_cli.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/errors/common.py
  renku_notebooks/errors/intermittent.py
  renku_notebooks/errors/user.py
  resource_schema_migrations/migration_1.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  git_services/tests/test_autosave.py
  git_services/tests/test_git_cli.py
  renku_notebooks/errors/utils.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  renku_notebooks/__init__.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/utils.py
  renku_notebooks/errors/utils.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/schemas/errors.py
  renku_notebooks/api/schemas/utils.py
  tests/unit/test_utils.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): use Amalthea 0.5.0
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: prep 1.9.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat(app): use Amalthea 0.5.0
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: prep 1.9.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(ci): Update renku actions to v0.5.3
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git-https-proxy/Dockerfile to reduce vulnerabilities
  git-https-proxy/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git-https-proxy/Dockerfile to reduce vulnerabilities (#1153)
  git-https-proxy/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v0.5.3 (#1151)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.0.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(github) Format action YAML with Prettier.
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(github) Use correct parameters for test-renku action in version 1.0.0
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): show latest unschedulable message
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.0.0 (#1159)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): listing autosaves and debug statements
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/user.py
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

wip
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): fix for updating gitlab sdk to 3.6.0
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): fix for updating gitlab sdk to 3.6.0 (#1169)
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): listing autosaves and debug statements (#1168)
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/user.py
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): show latest unschedulable message (#1161)
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.9.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(app): document max lines for getting logs
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.9.1 release (#1183)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

wip
  .dockerignore
  .gitignore
  .vscode/launch.json
  Dockerfile
  Dockerfile.tests
  example.config.hocon
  poetry.lock
  pyproject.toml
  renku_notebooks/__init__.py
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/s3mount.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/health.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/servers_post.py
  renku_notebooks/config.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/config/static.py
  renku_notebooks/util/check_image.py
  renku_notebooks/util/kubernetes_.py
  run-telepresence.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

wip more complicated
  renku_notebooks/__init__.py
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/s3mount.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/health.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/config_server_options.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/servers_post.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/config/server_options.py
  renku_notebooks/config/static.py
  renku_notebooks/util/check_image.py
  renku_notebooks/wsgi.py
  test-schema.py
  test.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: setup telepresence
  .dockerignore
  .gitignore
  .vscode/launch.json
  Dockerfile
  Dockerfile.tests
  example.config.hocon
  poetry.lock
  pyproject.toml
  renku_notebooks/__init__.py
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/s3mount.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/health.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/servers_post.py
  renku_notebooks/config.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/config/static.py
  renku_notebooks/util/check_image.py
  renku_notebooks/util/kubernetes_.py
  run-telepresence.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fixes
  example.config.hocon
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/amalthea_patches/utils.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/config/static.py
  tests/unit/conftest.py
  tests/unit/test_schema_validation.py
  tests/unit/test_server_class/test_get_image.py
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fixes for helm chart
  example.config.hocon
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: use envs for config
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: update readme
  .vscode/launch.json
  README.md
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/util/check_image.py
  tests/integration/conftest.py
  tests/integration/test_image_check_logic.py
  tests/integration/test_server_options.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/amalthea_patches/git_proxy.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.1.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/config/dynamic.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  example.config.hocon
  renku_notebooks/config/__init__.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: make k8s namespace part of config
  example.config.hocon
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/util/kubernetes_.py
  tests/integration/conftest.py
  tests/unit/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
