Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

remove git-proxy grace period
  git-https-proxy/config/config.go
  git-https-proxy/main.go
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  tests/integration/test_session_crash_errors.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

remove autosave
  README.md
  git-https-proxy/config/config.go
  git-https-proxy/main.go
  git_services/git_services/sidecar/commands/base.py
  git_services/git_services/sidecar/run_command.py
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

address review comments
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/k8s_client.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/errors.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/errors/intermittent.py
  renku_notebooks/errors/user.py
  renku_notebooks/errors/utils.py
  renku_notebooks/util/repository.py
  tests/integration/test_session_persistence.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

set empty annotation when no status
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): use amalthea 0.9.0
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

fix hibernation warning
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/static.py
  renku_notebooks/errors/intermittent.py
  tests/integration/test_session_persistence.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

avoid flickering in ui
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/static.py
  tests/integration/test_session_persistence.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix
  tests/integration/test_session_persistence.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add resource quota label
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add resource quota label (#1613)
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): use amalthea 0.9.1
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

feat: add support for new cloud storage
  git_services/git_services/init/cloner.py
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/classes/cloud_storage/__init__.py
  renku_notebooks/api/classes/cloud_storage/azure_blob.py
  renku_notebooks/api/classes/cloud_storage/s3mount.py
  renku_notebooks/api/schemas/cloud_storage.py
  renku_notebooks/api/schemas/servers_post.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

use data service URL instead of crc
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/config/__init__.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): hibernation warning messages (#1605)
  helm-chart/renku-notebooks/requirements.yaml
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/config/static.py
  renku_notebooks/errors/intermittent.py
  tests/integration/test_session_persistence.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix bug
  .gitignore
  renku_notebooks/api/classes/cloud_storage/s3mount.py
  renku_notebooks/api/schemas/cloud_storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add gitignore for mounted buckets. run isort
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
  renku_notebooks/__init__.py
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/amalthea_patches/ssh.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/cloud_storage/__init__.py
  renku_notebooks/api/classes/cloud_storage/azure_blob.py
  renku_notebooks/api/classes/cloud_storage/s3mount.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/cloud_storage.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/utils.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/config/static.py
  renku_notebooks/util/check_image.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(sidecar): fix renku save
  git_services/git_services/sidecar/gunicorn.conf.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(sidecar): fix renku save (#1620)
  git_services/git_services/sidecar/gunicorn.conf.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.18.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat(app): use tolerations and affinities from CRC
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas/server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.18.1 release (#1625)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

add support for storage_ids
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  git_services/git_services/init/config.py
  git_services/pyproject.toml
  poetry.lock
  pyproject.toml
  renku_notebooks/api/classes/cloud_storage/s3mount.py
  renku_notebooks/api/classes/data_service.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/cloud_storage.py
  renku_notebooks/config/__init__.py
  renku_notebooks/errors/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

change storage validate request to post
  renku_notebooks/api/classes/data_service.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

formatting
  renku_notebooks/__init__.py
  renku_notebooks/api/classes/cloud_storage/s3mount.py
  renku_notebooks/api/classes/k8s_client.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/errors/utils.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix 204 status code check
  renku_notebooks/api/classes/data_service.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.19.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.19.0 release (#1633)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix boto3 endpoint check
  renku_notebooks/api/classes/cloud_storage/s3mount.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add readonly flag
  helm-chart/renku-notebooks/requirements.yaml
  renku_notebooks/api/schemas/cloud_storage.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v.1.6.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.6.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update actions
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

get readonly from database if not provided
  renku_notebooks/api/classes/data_service.py
  renku_notebooks/api/schemas/cloud_storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): update renku actions to v1.6.0 (#1637)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: combined helm charts
  chartpress.yaml
  helm-chart/renku-notebooks/.helmignore
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/_helpers.tpl
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/hpa.yaml
  helm-chart/renku-notebooks/templates/ingress.yaml
  helm-chart/renku-notebooks/templates/network-policy.yaml
  helm-chart/renku-notebooks/templates/role.yaml
  helm-chart/renku-notebooks/templates/rolebinding.yaml
  helm-chart/renku-notebooks/templates/service.yaml
  helm-chart/renku-notebooks/templates/serviceaccount.yaml
  helm-chart/renku-notebooks/templates/session-pv-rbac.yaml
  helm-chart/renku-notebooks/templates/ssh.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.schema.json
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: address comments
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/schemas/server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update CI workflows
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): use tolerations and affinities from CRC (#1626)
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas/server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.7.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: update renku-actions to 1.7.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
