Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

remove try/except for k8s api
  clean_user_registry_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

remove unnecessary warning
  clean_user_registry_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edit secret name
  clean_user_registry_secrets/clean_user_registry_secrets.py
  jupyterhub/spawners.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

put back label annotations
  clean_user_registry_secrets/clean_user_registry_secrets.py
  jupyterhub/spawners.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix tests
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

keep black format check happy
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix create registry secret
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

update imports of function that changed name
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix black formatting, raise exception on multiple pods that match a secret
  clean_user_registry_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

remove unneeded command from dockerfile
  clean_user_registry_secrets/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

pin kubernetes and escapism version in pipfile for cleaning secrets
  clean_user_registry_secrets/Pipfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

upadate pipfile lock after updating pipfile
  clean_user_registry_secrets/Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

update folder and image name
  chartpress.yaml
  cull_secrets/Dockerfile
  cull_secrets/Pipfile
  cull_secrets/Pipfile.lock
  cull_secrets/clean_user_registry_secrets.py
  helm-chart/renku-notebooks/templates/cronjob.yaml
  helm-chart/renku-notebooks/values.yaml
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix black formatting
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

address comments
  cull_secrets/clean_user_registry_secrets.py
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

black formatting
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

rename secret age threshold
  cull_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

set max secret age to 5 mins
  helm-chart/renku-notebooks/templates/cronjob.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

rolled back explicit pinning in pipfile
  cull_secrets/Pipfile
  cull_secrets/Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

cleanup tests
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix bug with label selector in secrets
  cull_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

clean up tests
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix year in copyright message
  cull_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edit helm chart to include schedule and max secret age
  helm-chart/renku-notebooks/templates/cronjob.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

clarify helm values file
  helm-chart/renku-notebooks/templates/cronjob.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

remove dashes
  helm-chart/renku-notebooks/templates/cronjob.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

feat: automatically remove user registry secrets (#435)
  chartpress.yaml
  cull_secrets/Dockerfile
  cull_secrets/Pipfile
  cull_secrets/Pipfile.lock
  cull_secrets/clean_user_registry_secrets.py
  helm-chart/renku-notebooks/templates/cronjob.yaml
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/spawners.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

trim cronjob name and pod name launched by cronjob to not go over k8s name limits
  helm-chart/renku-notebooks/templates/cronjob.yaml
Owners: @SwissDataScienceCenter/kartografen

change pod name and reduce amount of truncation
  helm-chart/renku-notebooks/templates/cronjob.yaml
Owners: @SwissDataScienceCenter/kartografen

change cronjob name and reduce amount of truncation
  helm-chart/renku-notebooks/templates/cronjob.yaml
Owners: @SwissDataScienceCenter/kartografen

bug: truncate secret-cull cronjob and pod names to be within k8s limits (#440)
  helm-chart/renku-notebooks/templates/cronjob.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: prepare 0.8.3 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prepare 0.8.3 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: fix dependency conflict by pinning black
  Pipfile
  Pipfile.lock
  cull_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix dependency conflict by pinning black
  Pipfile
  Pipfile.lock
  cull_secrets/clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Dependabot updates (#443)
  Pipfile.lock
  jupyterhub/requirements.txt
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add checks if a specified image is present
  renku_notebooks/util/check_image.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

modify notebooks api
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

edits
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/check_image.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add annotation
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
