Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

chore: fix tests
  renku_notebooks/api/classes/server.py
  tests/unit/test_schema_validation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix formatting
  renku_notebooks/api/classes/user.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: get image workdir from docker API
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
  renku_notebooks/util/check_image.py
  tests/unit/test_public_image_checks.py
  tests/unit/test_server_class/test_get_image.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: helm chart fix
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: do not fail on pvcs created with old insecure pvc naming
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: failing on pvcs created with old 0.8.4 renku verison pvc naming (#715)
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.17 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 0.8.17 release (#716)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: fix integration tests
  git-sidecar/Dockerfile
  renku_notebooks/api/classes/server.py
  renku_notebooks/util/kubernetes_.py
  tests/integration/utils.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: add ssh session step in integration tests to debug
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update amalthea version
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: remove ssh session step that was added for debugging
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add datashim helm chart
  helm-chart/datashim/Chart.yaml
  helm-chart/datashim/README.md
  helm-chart/datashim/templates/crds.yaml
  helm-chart/datashim/templates/csi-driver-s3.yaml
  helm-chart/datashim/templates/daemonset-h3.yaml
  helm-chart/datashim/templates/daemonset-nfs.yaml
  helm-chart/datashim/templates/daemonset-s3.yaml
  helm-chart/datashim/templates/deployment.yaml
  helm-chart/datashim/templates/mutating-webhook-config.yaml
  helm-chart/datashim/templates/namespace.yaml
  helm-chart/datashim/templates/rbac-common.yaml
  helm-chart/datashim/templates/rbac-h3.yaml
  helm-chart/datashim/templates/rbac-nfs.yaml
  helm-chart/datashim/templates/rbac-s3.yaml
  helm-chart/datashim/templates/secrets.yaml
  helm-chart/datashim/templates/service-accounts-common.yaml
  helm-chart/datashim/templates/service-accounts-h3.yaml
  helm-chart/datashim/templates/service-accounts-nfs.yaml
  helm-chart/datashim/templates/service-accounts-s3.yaml
  helm-chart/datashim/templates/services-common.yaml
  helm-chart/datashim/templates/services-nfs.yaml
  helm-chart/datashim/templates/services-s3.yaml
  helm-chart/datashim/templates/statefulsets-h3.yaml
  helm-chart/datashim/templates/statefulsets-nfs.yaml
  helm-chart/datashim/templates/statefulsets-s3.yaml
  helm-chart/datashim/templates/storage-class-h3.yaml
  helm-chart/datashim/templates/storage-class-s3.yaml
  helm-chart/datashim/values.yaml
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: remove hardcoded namespace in datashim helm chart
  helm-chart/datashim/templates/daemonset-h3.yaml
  helm-chart/datashim/templates/daemonset-nfs.yaml
  helm-chart/datashim/templates/daemonset-s3.yaml
  helm-chart/datashim/templates/deployment.yaml
  helm-chart/datashim/templates/rbac-common.yaml
  helm-chart/datashim/templates/rbac-h3.yaml
  helm-chart/datashim/templates/rbac-nfs.yaml
  helm-chart/datashim/templates/rbac-s3.yaml
  helm-chart/datashim/templates/secrets.yaml
  helm-chart/datashim/templates/service-accounts-common.yaml
  helm-chart/datashim/templates/service-accounts-h3.yaml
  helm-chart/datashim/templates/service-accounts-nfs.yaml
  helm-chart/datashim/templates/service-accounts-s3.yaml
  helm-chart/datashim/templates/services-common.yaml
  helm-chart/datashim/templates/services-nfs.yaml
  helm-chart/datashim/templates/services-s3.yaml
  helm-chart/datashim/templates/statefulsets-h3.yaml
  helm-chart/datashim/templates/statefulsets-nfs.yaml
  helm-chart/datashim/templates/statefulsets-s3.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: handle missing git resources gracefully when listing sessions
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: do not raise errors when validating autosaves
  renku_notebooks/api/classes/storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: commit latest version of requirements.lock file
  helm-chart/renku-notebooks/requirements.lock
Owners: @SwissDataScienceCenter/kartografen

fix: handle invalid pvc based autosaves
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update datashim helm chart readme
  helm-chart/datashim/README.md
Owners: @SwissDataScienceCenter/kartografen

chore: add boto3 for checking if s3 buckets exist
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add datashim for s3 buckets
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/dataset.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
  tests/unit/test_server_class/test_get_image.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: check in requirements.lock file
  helm-chart/renku-notebooks/requirements.lock
Owners: @SwissDataScienceCenter/kartografen

fix: listing sessions when a project has been deleted (#718)
  helm-chart/renku-notebooks/requirements.lock
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: bugs with mistyped variable and missing branches in autosaves
  renku_notebooks/api/classes/storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: bugs with mistyped variable and missing branches in autosaves (#723)
  renku_notebooks/api/classes/storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: sync pipenv.lock file
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: improve messaging when cloning a repo runs out of hard drive space
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: formatting fix
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prepare 0.8.18 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prepare 0.8.18 release (#726)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: debug cloning script
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: test clone script
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

sqaushme: testing entrypoint script
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: testing entrypoint script
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

sqaushme: remove -x flag in bash script
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update amalthea to 0.1.0-rc6
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: fix variable naming and user workspace locations/names
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  tests/integration/conftest.py
  tests/integration/test_server_options.py
  tests/integration/utils.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
