Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

fix: resource requests for extra containers
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add ingress annotations and tls secret
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git-https-proxy/Dockerfile to reduce vulnerabilities (#664)
  git-https-proxy/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: parse server options from crd
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: do not use pod - get all things from crd
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: several dependency upgrades (#654)
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly handle response when stopping
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: enable PVC and/or emptydir
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: storage and autosaves
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  run-telepresence.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Add autosave delete endpoint (#673)
  renku_notebooks/__init__.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_autosaves.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly handle autosaves
  helm-chart/renku-notebooks/templates/configmap.yaml
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: freeze crd and autosave creation
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add email and name to git config
  git-sidecar/clone.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

remove jupyterhub and cull secrets
  cull_secrets/Dockerfile
  cull_secrets/Pipfile
  cull_secrets/Pipfile.lock
  cull_secrets/clean_user_registry_secrets.py
  jupyterhub/Dockerfile
  jupyterhub/requirements.txt
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

remove hardcoded configs from helm chart
  chartpress.yaml
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat: add amalthea as requirement
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: code cleanup for tests
  renku_notebooks/__init__.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/util/check_image.py
  tests/test_public_image_checks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: move unit tests to separate folder
  tests/unit/conftest.py
  tests/unit/dummy_server_defaults.json
  tests/unit/dummy_server_options.json
  tests/unit/test_auth.py
  tests/unit/test_autosaves.py
  tests/unit/test_notebook.py
  tests/unit/test_public_image_checks.py
  tests/unit/test_schema_validation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add integration tests with helm test
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: remove unnecessary tests
  tests/dummy_jupyterhub_config.py
  tests/rules.toml
  tests/test_clean_user_registry_secrets.py
  tests/test_jupyterhub.py
  tests/traefik.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: move unit tests and integration to separate folders
  Dockerfile.tests
  tests/integration/README.md
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/test_smoke.py
  tests/unit/__init__.py
  tests/unit/conftest.py
  tests/unit/test_auth.py
  tests/unit/test_autosaves.py
  tests/unit/test_notebook.py
  tests/unit/test_server_class/__init__.py
  tests/unit/test_server_class/test_get_image.py
  tests/unit/test_server_options.py
  tests/utils/__init__.py
  tests/utils/classes.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add integration tests to chartpress and values.yaml file
  chartpress.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: wip refactoring tests
  tests/integration/test_auth.py
  tests/integration/test_autosaves.py
  tests/integration/test_image_check_logic.py
  tests/integration/test_requesting_non_existent_resources.py
  tests/integration/test_server_options.py
  tests/integration/test_session_creation.py
  tests/unit/conftest.py
  tests/unit/test_public_image_checks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: bug with gitlab project name containing spaces
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add integration and unit tests
  Dockerfile.tests
  helm-chart/renku-notebooks/templates/test.yaml
  renku_notebooks/api/notebooks.py
  run-telepresence.sh
  tests/integration/conftest.py
  tests/integration/test_auth.py
  tests/integration/test_autosaves.py
  tests/integration/test_image_check_logic.py
  tests/integration/test_requesting_non_existent_resources.py
  tests/integration/test_server_options.py
  tests/integration/test_session_creation.py
  tests/integration/test_smoke.py
  tests/integration/utils.py
  tests/unit/test_public_image_checks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: do not limit cpu for user sessions
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: anonymous sessions
  git-https-proxy/mitmproxy.js
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/config.py
  renku_notebooks/util/check_image.py
  renku_notebooks/util/kubernetes_.py
  tests/integration/conftest.py
  tests/integration/test_auth.py
  tests/integration/test_autosaves.py
  tests/integration/test_image_check_logic.py
  tests/integration/test_server_options.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: add liveness and readiness probes to make session unavailable until repo is cloned
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use new crd and patches for amalthea
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/role.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: replace references to jupyterhub with jypyter
  git-sidecar/clone.sh
  helm-chart/renku-notebooks/templates/configmap.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
  run-telepresence.sh
  tests/unit/conftest.py
  tests/unit/test_schema_validation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: remove network policy - amalthea provides this
  helm-chart/renku-notebooks/templates/user-pod-egress.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: set enableServiceLinks to false to keep env tidy
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: tag a docker image as latest as well as with a tag
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor edit to test
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor edit to test
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: always use latest renku actions
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: test action
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: test action
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: test action
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
