Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

chore: fail acceptance tests
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: centralize API error handling
  renku_notebooks/__init__.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/error_handling.py
  renku_notebooks/errors.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix formatting
  renku_notebooks/__init__.py
  renku_notebooks/errors.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix formatting
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: remove extra changes
  helm-chart/remove-crds-post-render/README.md
  helm-chart/remove-crds-post-render/kustomization.yaml
  helm-chart/remove-crds-post-render/post-render-hook.sh
  renku_notebooks/__init__.py
  renku_notebooks/util/misc.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: make resource migrations run in an init container
  Dockerfile
  Dockerfile.tests
  helm-chart/renku-notebooks/templates/deployment.yaml
  resource_migrations/README.md
  resource_migrations/migration_1.py
  resource_migrations/run_all.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: pipenv lock
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v0.4.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v0.4.1
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: make s3 datasets optional
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix black formatting
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: dependabot updates batch (#870)
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: sync pipfile.lock
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): updates for renku actions 0.4.1
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: properly relay persist flag in tests
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  helm-chart/renku-notebooks/templates/hpa.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
  resource_migrations/README.md
  resource_migrations/config.py
  resource_migrations/migration_1.py
  resource_migrations/run_all.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: rename migrations to schema versions
  Dockerfile
  Dockerfile.tests
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
  resource_schema_migrations/README.md
  resource_schema_migrations/config.py
  resource_schema_migrations/migration_1.py
  resource_schema_migrations/run_all.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(ci): Update renku actions to v0.4.1 (#872)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix linting errors
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): case insensitive project and namespace (#858)
  Dockerfile
  Dockerfile.tests
  helm-chart/renku-notebooks/templates/hpa.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
  resource_schema_migrations/README.md
  resource_schema_migrations/config.py
  resource_schema_migrations/migration_1.py
  resource_schema_migrations/run_all.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: address comments
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/s3mount.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: s3 mounts info in server option endpoint
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: check in helm requirements.lock
  helm-chart/renku-notebooks/requirements.lock
Owners: @SwissDataScienceCenter/kartografen

squashme: address comments
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update datashim helm chart version
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: fix tests
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: mount s3 buckets in sessions (#729)
  Pipfile
  Pipfile.lock
  git-clone/Dockerfile
  git-clone/clone.sh
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/s3mount.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
  tests/integration/test_session_creation.py
  tests/unit/test_server_class/test_get_image.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: pipenv sync
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add s3 mount patches
  renku_notebooks/api/amalthea_patches/s3mounts.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix schemas with/without s3 mounts
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: lint error fix
  renku_notebooks/api/amalthea_patches/s3mounts.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

unifinished
  git-https-proxy/Dockerfile
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/config.py
  renku_notebooks/util/misc.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: remove unneeded values file change
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: minor updates
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: bring patches up to date
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): return logs from all containers
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: Apply suggestions from code review
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix linting errors
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(chart): remove hub configmap that is unused
  helm-chart/renku-notebooks/templates/configmap.yaml
Owners: @SwissDataScienceCenter/kartografen
