Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

squashme: minor fix
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): properly inject certs for git clone
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): properly inject certs for git clone
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): handle missing project in autosave list (#1090)
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): custom certs env variables in git clone (#1101)
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep release 1.8.0
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(app): serialize cpu and gpu request to number
  renku_notebooks/api/schemas/custom_fields.py
  tests/unit/test_custom_fields.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): serialize cpu and gpu request to number (#1103)
  renku_notebooks/api/schemas/custom_fields.py
  tests/unit/test_custom_fields.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: update changelog
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep release 1.8.0 (#1102)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(app): no main pod in status when getting logs
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): no main pod in status when getting logs (#1104)
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): properly deserialize server options
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: address comments
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: rename MemoryField to ByteSizeField
  renku_notebooks/api/schemas/config_server_options.py
  renku_notebooks/api/schemas/custom_fields.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/api/schemas/servers_get.py
  tests/unit/test_custom_fields.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix typo
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): properly deserialize server options (#1108)
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas/config_server_options.py
  renku_notebooks/api/schemas/custom_fields.py
  renku_notebooks/api/schemas/server_options.py
  renku_notebooks/api/schemas/servers_get.py
  tests/unit/test_custom_fields.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.8.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.8.1 release (#1110)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(app): cloudstorage in server_options schema
  renku_notebooks/__init__.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/config_server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix linting errors
  renku_notebooks/__init__.py
  renku_notebooks/api/schemas/config_server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): parse unschedulable resources message
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): cloudstorage in server_options schema (#1113)
  renku_notebooks/__init__.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/config_server_options.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): parse unschedulable resources message (#1114)
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.8.2 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.8.2 release (#1117)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(app): list autosaves only for the current user
  renku_notebooks/api/classes/storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): list autosaves only for the current user (#1118)
  renku_notebooks/api/classes/storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): handle endpoints for s3 not on AWS
  renku_notebooks/api/classes/s3mount.py
  renku_notebooks/api/schemas/cloud_storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): handle endpoints for s3 not on AWS (#1124)
  renku_notebooks/api/classes/s3mount.py
  renku_notebooks/api/schemas/cloud_storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.8.3 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.8.3 release (#1126)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: use CA certificates chart 0.0.3
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: fix sequence diagram in readme
  README.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix sequence diagram in readme (#1133)
  README.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

address PR comments
  renku_notebooks/api/classes/server.py
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: use CA certificates chart 0.0.3 (#1132)
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: edit after resolving conflicts
  renku_notebooks/__init__.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/errors.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/utils.py
  renku_notebooks/errors/__init__.py
  renku_notebooks/errors/common.py
  renku_notebooks/errors/intermittent.py
  renku_notebooks/errors/programming.py
  renku_notebooks/errors/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
