Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

add extra-values to acceptance test action
  .github/workflows/acceptance-tests.yml
  git_services/git_services/init/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(sidecar): symlink cloudstorage into project
  git_services/git_services/init/clone.py
  git_services/git_services/init/cloner.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): add session url env var (#1231)
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/config/__init__.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

increase test timeout
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(sidecar): symlink cloudstorage into project (#1230)
  .github/workflows/acceptance-tests.yml
  git_services/git_services/init/clone.py
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: slim down images
  Dockerfile
  Dockerfile.tests
  git_services/.dockerignore
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: try using alpine
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(sidecar): use fetch before running git status
  git_services/git_services/sidecar/commands/base.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix integration tests docker image
  Dockerfile.tests
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix migrations
  helm-chart/renku-notebooks/templates/statefulset.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: fix notebooks image
  Dockerfile
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: do not install root
  Dockerfile
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(sidecar): use fetch before running git status (#1240)
  Dockerfile.tests
  git_services/git_services/sidecar/commands/base.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update python actions and cache poetry
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fixes
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix dockerignore
  git_services/.dockerignore
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: revert acceptance tests timeout to 80mins
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: track gh actions with dependabot
  .github/dependabot.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): add docker layer caching
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  poetry.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: track gh actions with dependabot (#1243)
  .github/dependabot.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: add docker cache prefix
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): add docker layer caching (#1242)
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  poetry.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: remove unused poetry-dynamic-versioning
  poetry.lock
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: remove unused poetry-dynamic-versioning (#1258)
  poetry.lock
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(chart): update datashim to 0.3.0
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(chart): update datashim to 0.3.0 (#1260)
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(chart): template PVC sessions flag properly
  helm-chart/renku-notebooks/templates/statefulset.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(sidecar): escape characters in user full name
  git_services/git_services/cli/__init__.py
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
  git_services/git_services/sidecar/commands/base.py
  git_services/tests/conftest.py
  git_services/tests/test_autosave.py
  git_services/tests/test_git_cli.py
  git_services/tests/test_rpc_server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: pin poetry version to 1.2.1
  Dockerfile
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squahsme: minor fix
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(sidecar): escape characters in user full name (#1279)
  git_services/git_services/cli/__init__.py
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
  git_services/git_services/sidecar/commands/base.py
  git_services/tests/conftest.py
  git_services/tests/test_autosave.py
  git_services/tests/test_git_cli.py
  git_services/tests/test_rpc_server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(chart): template PVC sessions flag properly (#1273)
  helm-chart/renku-notebooks/templates/statefulset.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(app): reduce image size (#1239)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  Dockerfile
  git_services/.dockerignore
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
  helm-chart/renku-notebooks/templates/statefulset.yaml
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: fix tests
  git_services/tests/test_init_clone.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.11.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.11.0 release (#1282)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(app): respect git lfs autofetch flag
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix dataconf config
  git_services/git_services/init/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): Update default session image to renku/renkulab-py:3.9-0.13.0
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
