Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

chore: switch to debian based python image
  Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: labels values are too long for k8s
  cull_secrets/clean_user_registry_secrets.py
  jupyterhub/spawners.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: image pull secrets should be deleted only when user server is fully gone
  cull_secrets/clean_user_registry_secrets.py
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use project id as label instead of truncated projectname
  cull_secrets/clean_user_registry_secrets.py
  jupyterhub/spawners.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: convert projectId to str in k8s label
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: change projectId k8s label/annotation name to gitlabProjectId
  cull_secrets/clean_user_registry_secrets.py
  jupyterhub/spawners.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_clean_user_registry_secrets.py
  tests/test_schema_validation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: labels values are too long for k8s (#553)
  cull_secrets/clean_user_registry_secrets.py
  jupyterhub/spawners.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_clean_user_registry_secrets.py
  tests/test_schema_validation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: remove truncating usernames because api will not accespt usernames longer than k8s label length limit
  jupyterhub/spawners.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: image pull secret missing for pod restart (#557)
  cull_secrets/clean_user_registry_secrets.py
  tests/test_clean_user_registry_secrets.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: properly carry over fixes for long k8s labels from previous commits
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

refactor: Aadd user class
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/check_image.py
  renku_notebooks/util/gitlab_.py
  renku_notebooks/util/jupyterhub_.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

refactor: remove reponse validation, clean up schemas and unused code
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/decorators.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/util/gitlab_.py
  renku_notebooks/util/jupyterhub_.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: rename Server class to UserServer
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  tests/conftest.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Prep 0.8.10 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

Update CHANGELOG.md
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.10 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

Update CHANGELOG.md
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.10 release++
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: implement pv-backed pvc per session
  jupyterhub/spawners.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add PV rbac
  helm-chart/renku-notebooks/templates/clusterrole.yaml
  helm-chart/renku-notebooks/templates/role.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: fixup namespace
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add pv config options
  helm-chart/renku-notebooks/values.schema.json
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

set persistent volume use via values
  helm-chart/renku-notebooks/templates/clusterrole.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

add annotations and labels
  helm-chart/renku-notebooks/templates/role.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

check existing pvc
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

enable pvc deletion
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

enable reusing PVCs
  git-clone/entrypoint.sh
  jupyterhub/spawners.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix pvc name to include username
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add file_size.py
  renku_notebooks/util/file_size.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: resize volume if needed
  helm-chart/renku-notebooks/templates/role.yaml
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add additional metadata to annotations and use consistent name
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: remove disk_request if not using pvcs
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: only set rbac when using pvcs
  helm-chart/renku-notebooks/templates/clusterrole.yaml
  helm-chart/renku-notebooks/templates/role.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: rename gitlab user property to gitlab_client
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: remove auth from user object - move to config
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/config.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: rename username to hub_username
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: rename delete and logs Server methods to stop and get_logs
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: cleanup config in server class
  jupyterhub/spawners.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: remove unused code
  renku_notebooks/util/jupyterhub_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: cleanup config in server class
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
