Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

squashme: fix integration tests
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update renku actions path in acceptance tests
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: dependabot updates batch (#693)
  .github/workflows/acceptance-tests.yml
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: install typed-ast so that black can work
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use a separate keycloak client
  .github/workflows/integration-tests.yml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: put back keycloak client in notebook section in values file
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: update values to capture changes in amalthea
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: update amalthea version
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: prep 0.8.14 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: update cookie allow list name
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add missing cookies in cookie cleaner allowlist so that rstudio works
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix integration tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: run integration tests only for PRs
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: increase integration test timeout
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: make test output less verbose, hide tracebacks
  helm-chart/renku-notebooks/templates/test.yaml
  tests/integration/README.md
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add step to cleanup autosaves
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update patch to include proper command/args for jupyterserver
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: increase timeout for integration tests
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  tests/integration/conftest.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: reduce test timeout
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: turn on verbosity for acceptance tests
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: troubleshoot why tests fail
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix failing tests
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: add print statements to debug
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: add print statements to debug
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: add debug session
  .github/workflows/integration-tests.yml
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: run integration tests in different runners
  .github/workflows/integration-tests.yml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: fix tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: simplify values for integration tests
  .github/workflows/integration-tests.yml
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: fix new line at the end of file
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: install typed-ast so that black can work (#694)
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: run pipenv lock after adding new package required for new black version to work
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix formatting errors
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/custom_fields.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Add rancher API endpoint parameter.
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Update renku actions version
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
