Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

squashme: add cache sync timeout
  js-watcher/README.md
  js-watcher/cache.go
  js-watcher/cache_collection.go
  js-watcher/config.go
  js-watcher/server.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  js-watcher/cache.go
  js-watcher/cache_collection.go
  js-watcher/server_routes.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.4.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  chartpress.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/hpa.yaml
  helm-chart/renku-notebooks/templates/network-policy.yaml
  helm-chart/renku-notebooks/templates/role.yaml
  helm-chart/renku-notebooks/templates/rolebinding.yaml
  helm-chart/renku-notebooks/templates/service.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  js-watcher/cache_test.ago
  k8s-watcher/Dockerfile
  k8s-watcher/README.md
  k8s-watcher/cache.go
  k8s-watcher/cache_collection.go
  k8s-watcher/config.go
  k8s-watcher/go.mod
  k8s-watcher/go.sum
  k8s-watcher/main.go
  k8s-watcher/server.go
  k8s-watcher/server_routes.go
  renku_notebooks/api/classes/k8s_client.py
  renku_notebooks/config/__init__.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(ci): Update renku actions to v1.4.0 (#1326)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix unit tests
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  tests/unit/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix helm templating
  helm-chart/renku-notebooks/templates/role.yaml
  helm-chart/renku-notebooks/templates/rolebinding.yaml
  helm-chart/renku-notebooks/templates/session-pv-rbac.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: fix integration tests
  .github/workflows/integration-tests.yml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  renku_notebooks/api/classes/k8s_client.py
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: fix integration tests
  renku_notebooks/api/classes/k8s_client.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
  tests/integration/test_server_options.py
  tests/unit/conftest.py
  tests/unit/test_server_class/test_get_image.py
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.4.1
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: run sessions in subdomains
  pyproject.toml
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add test config
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

apply black formatting
  renku_notebooks/__init__.py
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/amalthea_patches/inject_certificates.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/s3mount.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/schemas/config_server_options.py
  renku_notebooks/api/schemas/custom_fields.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/servers_post.py
  renku_notebooks/api/schemas/version.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/config/static.py
  renku_notebooks/errors/intermittent.py
  renku_notebooks/errors/user.py
  renku_notebooks/util/check_image.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add wildcard host parameter
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

remove sessions/ path from oauth2-proxy
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): fix integration tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): fix integration tests (#1332)
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: apply suggestion
  renku_notebooks/api/classes/k8s_client.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  renku_notebooks/api/classes/k8s_client.py
  renku_notebooks/config/__init__.py
  renku_notebooks/errors/intermittent.py
  renku_notebooks/util/retries.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): add jupyter server caching and multiple namespace support (#1323)
  .github/workflows/integration-tests.yml
  chartpress.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/hpa.yaml
  helm-chart/renku-notebooks/templates/network-policy.yaml
  helm-chart/renku-notebooks/templates/role.yaml
  helm-chart/renku-notebooks/templates/rolebinding.yaml
  helm-chart/renku-notebooks/templates/service.yaml
  helm-chart/renku-notebooks/templates/session-pv-rbac.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  k8s-watcher/Dockerfile
  k8s-watcher/README.md
  k8s-watcher/cache.go
  k8s-watcher/cache_collection.go
  k8s-watcher/config.go
  k8s-watcher/go.mod
  k8s-watcher/go.sum
  k8s-watcher/main.go
  k8s-watcher/server.go
  k8s-watcher/server_routes.go
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/k8s_client.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
  renku_notebooks/errors/intermittent.py
  renku_notebooks/util/kubernetes_.py
  renku_notebooks/util/retries.py
  tests/integration/conftest.py
  tests/integration/test_server_options.py
  tests/unit/conftest.py
  tests/unit/test_k8s_client.py
  tests/unit/test_server_class/test_get_image.py
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat: refresh git token in http proxy
  git-https-proxy/Dockerfile
  git-https-proxy/config/config.go
  git-https-proxy/config/config_test.go
  git-https-proxy/go.mod
  git-https-proxy/main.go
  git-https-proxy/main_test.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: notebook service handle expiring git tokens
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  git-https-proxy/main.go
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  git-https-proxy/config/config.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: accept zero as max_lines parameter for logs
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: accept zero as max_lines parameter for logs (#1336)
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.13.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.13.0 release (#1337)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat: use renku refresh token in git-proxy
  git-https-proxy/config/config.go
  git-https-proxy/config/config_test.go
  git-https-proxy/go.mod
  git-https-proxy/go.sum
  git-https-proxy/main.go
  git-https-proxy/main_test.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: adjust python code
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  .github/workflows/integration-tests.yml
  git-https-proxy/config/config.go
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: fix integration tests
  tests/integration/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  git-https-proxy/config/config.go
  git-https-proxy/config/config_test.go
  git-https-proxy/main.go
  git-https-proxy/main_test.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): propagate environment variables for R
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  git-https-proxy/config/config.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(session): check LFS size when cloning (#1226)
  git_services/git_services/init/cloner.py
  git_services/tests/test_init_clone.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: do not hardcode keycloak realm name
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/config/__init__.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.4.2
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): snyk vulnerabilities
  .gitignore
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  .github/workflows/integration-tests.yml
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen
