Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

refactor(charts): move registry secret from renku
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/registry-secret.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: update registry secret template
  helm-chart/renku-notebooks/templates/registry-secret.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: update registry secret template
  helm-chart/renku-notebooks/templates/registry-secret.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

feat: include notebook username in pod labels
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

refactor: minor formatting and unnecessary code removal
  jupyterhub/spawners.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/jupyterhub_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

refactor: minor
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: use k8s API to get user Jupyter servers
  renku_notebooks/api/auth.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/jupyterhub_.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

refactor: remove ununsed code
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: minor fix in README.rst
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

feat: return server data as needed by UI
  renku_notebooks/config.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

refactor: use fully formed URLs
  renku_notebooks/api/auth.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

build: make tests pass
  .flake8
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: spawn new server for different branch
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/jupyterhub_.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: spawn new server for different branch
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/jupyterhub_.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: use pre-commit hooks for chartpress --reset
  .pre-commit-config.yaml
  .travis.yml
  chartpress.yaml
  travis-deploy.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: apply review comments
  jupyterhub/spawners.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

use Kubernetes api for notebook queries (#185)
  .flake8
  README.rst
  jupyterhub/spawners.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/config.py
  renku_notebooks/util/jupyterhub_.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers

refactor: avoid re-implementation in spawner
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: recover autosave only when branch and commit-sha match
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: uncaught exception when creating notebooks
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add JUPYTERHUB_USER as env var to git-clone image
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: implement new notebook API
  Pipfile.lock
  README.rst
  jupyterhub/spawners.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/gitlab_.py
  renku_notebooks/util/jupyterhub_.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers

feat: recover autosave only when branch and commit-sha match
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add JUPYTERHUB_USER as env var to git-clone image
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: uncaught exception when creating notebooks
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use shortened commit-sha to check for an autosave match
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use commit-sha of remote branch to create autosave branch name
  helm-chart/renku-notebooks/templates/configmap.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: avoid a None dereferencing
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use both local and remote commit-sha for autosave
  git-clone/entrypoint.sh
  helm-chart/renku-notebooks/templates/configmap.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: use local and remote shortened commit-sha to recover from autosaves (#190)
  git-clone/entrypoint.sh
  helm-chart/renku-notebooks/templates/configmap.yaml
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: use pre-commit hooks for chartpress --reset
  .pre-commit-config.yaml
  .travis.yml
  chartpress.yaml
  travis-deploy.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: bump chart version and update changelog
  CHANGELOG.md
  CHANGES.rst
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

chore: bump chart version and update changelog
  CHANGELOG.md
  CHANGES.rst
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

Update main.workflow
  .github/main.workflow
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Create test.yml
  .github/workflows/test.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

Create test.yml
  .github/workflows/test.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix README.rst
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

refactor: avoid re-implementation in spawner
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: implement new notebook API
  Pipfile.lock
  README.rst
  jupyterhub/spawners.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/gitlab_.py
  renku_notebooks/util/jupyterhub_.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers

fix README.rst
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
