Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

build: fix chartpress version (#217)
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: bump chart version
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

build: update action spec
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

build: skip wheel building for gevent
  .travis.yml
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

build: skip wheel building for gevent
  .travis.yml
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

build: update action spec
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: bump chart version
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: reference environment starting commit on autosave branches
  helm-chart/renku-notebooks/templates/configmap.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: reference environment starting commit on autosave branches (#220)
  helm-chart/renku-notebooks/templates/configmap.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: release 0.6.2
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: release 0.6.2 (#221)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat: return json data from server_logs api and adjust default lines limit
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

test: stop testing rejection for explicit json content requests
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: expose max_lines query parameter
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: update server_logs api (#225)
  renku_notebooks/api/notebooks.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

build: add importlib_metadata
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

build: automatically update renku-notebooks dependency in renku
  .travis.yml
  .travis/travis-deploy.sh
  .travis/travis-functions.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

build: automatically update renku-notebooks dependency in renku
  .travis.yml
  .travis/travis-deploy.sh
  .travis/travis-functions.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: remove check for xhr header
  renku_notebooks/api/auth.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: change expected code for double slash
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

build: update Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: only build charts on master and tags
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update werkzeug behavior (#242)
  .github/workflows/ci.yml
  Pipfile.lock
  renku_notebooks/api/auth.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: check lfs setting as a string
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: convert boolean value to string number
  git-clone/entrypoint.sh
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: git config at system level when repo is not yet cloned
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: check lfs setting as a string (#243)
  git-clone/entrypoint.sh
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: install traefik for jupyter traefik proxt >=1.4
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: install traefik for jupyter traefik proxt >=1.4
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add main chart update to ci action
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: remove travis
  .travis.yml
  .travis/travis-deploy.sh
  .travis/travis-functions.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update action setup
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

test
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add main chart update to ci action (#248)
  .github/workflows/ci.yml
  .travis.yml
  .travis/travis-deploy.sh
  .travis/travis-functions.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(jupyterhub): update to version 1.1.0
  Pipfile
  Pipfile.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/Dockerfile
  jupyterhub/requirements.txt
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat(jupyterhub): update to version 1.1.0 (#253)
  Pipfile
  Pipfile.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/Dockerfile
  jupyterhub/requirements.txt
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: release 0.7.0
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: release 0.7.0 (#258)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat: add requested resources info to servers endpoint
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add repository url to annoations
  jupyterhub/spawners.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
