Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

feat(app): add endpoint to verify docker image availability (#990)
  renku_notebooks/__init__.py
  renku_notebooks/api/notebooks.py
  tests/integration/test_image_check_endpoint.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): switch git proxy to golang
  .github/workflows/ci.yml
  git-https-proxy/Dockerfile
  git-https-proxy/go.mod
  git-https-proxy/go.sum
  git-https-proxy/main.go
  git-https-proxy/main_test.go
  git-https-proxy/mitmproxy.js
  git-https-proxy/package-lock.json
  git-https-proxy/package.json
  install_helm.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fixes
  .github/workflows/ci.yml
  git-https-proxy/Dockerfile
  git-https-proxy/main.go
  git_services/tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: 1.6.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: 1.6.0 release (#996)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: synchronize git proxy shutdown
  git-https-proxy/main.go
  git-https-proxy/main_test.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: resolve conflicts, bring up to date
  git-https-proxy/main.go
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
  git_services/git_services/cli/sentry.py
  git_services/git_services/init/cloner.py
  git_services/git_services/sidecar/rpc_server.py
  git_services/tests/test_autosave.py
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

sqaushme: skip autosave hook for anonymous users
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): handle user names in git clone
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): handle user names in git clone
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): handle user names in git clone (#1006)
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.6.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: minor fix
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.6.1 release (#1008)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(chart): revert the removal of autosave script
  helm-chart/renku-notebooks/templates/configmap.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: apply suggestions from code review
  git-https-proxy/main.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: apply suggestion
  git-https-proxy/main.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor changes
  git-https-proxy/main.go
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: apply suggestions from code review
  git_services/git_services/sidecar/rpc_server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(chart): revert the removal of autosave script (#1011)
  helm-chart/renku-notebooks/templates/configmap.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: prep 1.6.2 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.6.2 release (#1013)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat(app): switch git proxy to golang (#993)
  .github/workflows/ci.yml
  git-https-proxy/Dockerfile
  git-https-proxy/go.mod
  git-https-proxy/go.sum
  git-https-proxy/main.go
  git-https-proxy/main_test.go
  git-https-proxy/mitmproxy.js
  git-https-proxy/package-lock.json
  git-https-proxy/package.json
  git_services/tests/conftest.py
  install_helm.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): keep git-proxy alive on session shutdown (#951)
  git-https-proxy/main.go
  git-https-proxy/main_test.go
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
  git_services/git_services/cli/sentry.py
  git_services/git_services/init/cloner.py
  git_services/git_services/sidecar/rpc_server.py
  git_services/tests/test_autosave.py
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/general.py
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
  tests/integration/conftest.py
  tests/integration/test_session_crash_errors.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(ci): fix action that lints helm chart
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): fix action that lints helm chart (#1018)
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fixes
  renku_notebooks/api/schemas/custom_fields.py
  renku_notebooks/api/schemas/servers_get.py
  tests/unit/test_custom_fields.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas/server_options.py
  tests/integration/conftest.py
  tests/integration/test_server_options.py
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: run as non-root
  Dockerfile
  Dockerfile.tests
  Pipfile
  Pipfile.lock
  git-https-proxy/Dockerfile
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/git_proxy.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: run sidecar and proxy with groupid 1000
  git-https-proxy/Dockerfile
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  Dockerfile.tests
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: run as non-root (#1020)
  Dockerfile
  Dockerfile.tests
  Pipfile
  Pipfile.lock
  git-https-proxy/Dockerfile
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore(ci): Update renku actions to v0.5.2
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v0.5.2 (#1022)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: set runAsNonRoot to true
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: set runAsNonRoot to true (#1031)
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fixes
  git-rpc-server/git_rpc_server/__init__.py
  git-rpc-server/git_rpc_server/config.py
  git-rpc-server/git_rpc_server/methods/__init__.py
  git-rpc-server/git_rpc_server/methods/git.py
  git-rpc-server/git_rpc_server/methods/resources.py
  git-rpc-server/git_rpc_server/run.py
  git-rpc-server/git_rpc_server/server.py
  git_services/git_services/sidecar/config.py
  git_services/git_services/sidecar/rpc_server.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fixes
  git_services/git_services/sidecar/rpc_server.py
  helm-chart/renku-notebooks/templates/network-policies.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(app): eliminate unnecessary gitlab calls
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  tests/integration/test_session_creation.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
