Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

fix: remove disk request option from values.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: add default value to disk request in server options
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: remove disk request values (#657)
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update changelog
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update chart version to 0.8.13
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/kartografen

Prep 0.8.13 release (#658)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat: add a git sidecar container
  git-clone/Dockerfile
  git-clone/entrypoint.sh
  git-https-proxy/mitmproxy.js
  git-sidecar/Dockerfile
  git-sidecar/Pipfile
  git-sidecar/Pipfile.lock
  git-sidecar/clone.sh
  git-sidecar/rpc-server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fixes
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.schema.json
  renku_notebooks/util/misc.py
  tests/conftest.py
  tests/dummy_server_defaults.json
  tests/dummy_server_options.json
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: automatically adjust ephemeral storage limits
  chartpress.yaml
  jupyterhub/Dockerfile
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fixes
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: fixes
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: remove cull secrets from values file
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: remove cull secrets from helm chart
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/cronjob.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: wip
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/ingress.yaml
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: test user endpoint
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: update helm chart
  chartpress.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/ingress.yaml
  helm-chart/renku-notebooks/templates/secret.yaml
  helm-chart/renku-notebooks/templates/service.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: fix routing
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: test
  renku_notebooks/api/auth.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: test
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: base64 decode padding
  renku_notebooks/api/classes/user.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: header parsing
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: swagger path
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: swagger
  renku_notebooks/__init__.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add base path
  renku_notebooks/__init__.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

add oidc for swagger
  renku_notebooks/__init__.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

changes to make operator run
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/config.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: test
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix config
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add jupyterserver to k8s role
  helm-chart/renku-notebooks/templates/role.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: minor fix
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/classes/user.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/util/check_image.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add missing token
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: minor fix
  renku_notebooks/util/check_image.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
