Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

chore(app): document max lines for getting logs (#1184)
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.1.0 (#1189)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: updates
  git_services/Dockerfile.sidecar
  git_services/git_services/cli/__init__.py
  git_services/git_services/sidecar/app.py
  git_services/git_services/sidecar/config.py
  git_services/git_services/sidecar/gunicorn.conf.py
  git_services/git_services/sidecar/rpc_server.py
  git_services/poetry.lock
  git_services/pyproject.toml
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: exclude rpc server in anonymous sessions
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  git_services/git_services/sidecar/app.py
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): catch upper/lowercase out of space error
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: use 'sub' JWT field for user id
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): catch upper/lowercase out of space error (#1198)
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: use 'sub' JWT field for user id (#1199)
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): Update default session image to renku/renkulab-py:3.9-0.12.0
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(docs): add roadmap
  README.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(app): Update default session image to renku/renkulab-py:3.9-0.12.0 (#1201)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squshme: modify missing resources message
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add network policy
  helm-chart/renku-notebooks/templates/network_policy.yaml
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): usernames starting with numbers/symbols
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  renku_notebooks/errors/intermittent.py
  renku_notebooks/errors/programming.py
  renku_notebooks/errors/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: accept suggestion
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix linting
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: cleanup merge conflict resolution
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add renku
  git_services/poetry.lock
  git_services/pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix autosave deletion
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/errors/utils.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

enhancement(app): standardized error responses (#849)
  .pre-commit-config.yaml
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
  git_services/git_services/init/errors.py
  git_services/git_services/sidecar/rpc_server.py
  renku_notebooks/__init__.py
  renku_notebooks/api/auth.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/classes/storage.py
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/errors.py
  renku_notebooks/api/schemas/servers_get.py
  renku_notebooks/api/schemas/utils.py
  renku_notebooks/errors/__init__.py
  renku_notebooks/errors/common.py
  renku_notebooks/errors/intermittent.py
  renku_notebooks/errors/programming.py
  renku_notebooks/errors/user.py
  renku_notebooks/errors/utils.py
  resource_schema_migrations/migration_1.py
  tests/unit/test_utils.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): update amalthea to 0.5.2
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

feat(app): update amalthea to 0.5.2 (#1217)
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: keep username within 63 char k8s limit
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.10.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.10.0 release (#1218)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat(sessions): add renku endpoint in sidecar
  git_services/git_services/sidecar/app.py
  git_services/git_services/sidecar/config.py
  git_services/git_services/sidecar/gunicorn.conf.py
  git_services/git_services/sidecar/renku_cli_config.py
  git_services/git_services/sidecar/rpc_server.py
  git_services/git_services/sidecar/run_command.py
  git_services/tests/conftest.py
  git_services/tests/test_autosave.py
  git_services/tests/test_rpc_server.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): usernames starting with numbers/symbols (#1213)
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: improved error handling in rpc server
  git_services/git_services/sidecar/app.py
  git_services/git_services/sidecar/commands/__init__.py
  git_services/git_services/sidecar/commands/base.py
  git_services/git_services/sidecar/errors.py
  git_services/git_services/sidecar/rpc_methods.py
  git_services/git_services/sidecar/run_command.py
  git_services/tests/test_autosave.py
  git_services/tests/test_rpc_server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: remove network policy
  helm-chart/renku-notebooks/templates/network_policy.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: remove network policy
  helm-chart/renku-notebooks/templates/network_policy.yaml
Owners: @SwissDataScienceCenter/kartografen

feat(sidecar): git pull and discard unsaved data
  git_services/git_services/cli/__init__.py
  git_services/git_services/sidecar/app.py
  git_services/git_services/sidecar/commands/base.py
  git_services/git_services/sidecar/rpc_methods.py
  git_services/tests/conftest.py
  git_services/tests/test_rpc_server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(session): check LFS size when cloning
  git_services/git_services/init/cloner.py
  git_services/tests/test_init_clone.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): add auth and expose rpc server sidecar (#762)
  git_services/Dockerfile.init
  git_services/Dockerfile.sidecar
  git_services/git_services/cli/__init__.py
  git_services/git_services/sidecar/app.py
  git_services/git_services/sidecar/config.py
  git_services/git_services/sidecar/gunicorn.conf.py
  git_services/git_services/sidecar/rpc_server.py
  git_services/poetry.lock
  git_services/pyproject.toml
  renku_notebooks/api/amalthea_patches/git_proxy.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
  renku_notebooks/config/__init__.py
  renku_notebooks/config/dynamic.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  git_services/git_services/sidecar/rpc_methods.py
  git_services/tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(sidecar): run renku cli commands in rpc server (#1219)
  git_services/git_services/sidecar/app.py
  git_services/git_services/sidecar/commands/__init__.py
  git_services/git_services/sidecar/commands/base.py
  git_services/git_services/sidecar/config.py
  git_services/git_services/sidecar/errors.py
  git_services/git_services/sidecar/gunicorn.conf.py
  git_services/git_services/sidecar/renku_cli_config.py
  git_services/git_services/sidecar/rpc_methods.py
  git_services/git_services/sidecar/run_command.py
  git_services/poetry.lock
  git_services/pyproject.toml
  git_services/tests/conftest.py
  git_services/tests/test_autosave.py
  git_services/tests/test_rpc_server.py
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: resolve poetry.lock conflicts
  git_services/poetry.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(sidecar): git pull and discard unsaved changes (#1223)
  git_services/git_services/cli/__init__.py
  git_services/git_services/sidecar/app.py
  git_services/git_services/sidecar/commands/base.py
  git_services/git_services/sidecar/rpc_methods.py
  git_services/tests/conftest.py
  git_services/tests/test_rpc_server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): add session url env var
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/config/__init__.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen
