Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

feat: use user credentials for pulling images (#327)
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/registry-secret.yaml
  helm-chart/renku-notebooks/templates/role.yaml
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/spawners.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: correct permissions given to service account
  helm-chart/renku-notebooks/templates/role.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: correct permissions given to service account
  helm-chart/renku-notebooks/templates/role.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: obscure oauth token
  git-clone/entrypoint.sh
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: generalize gitlab URL regex
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: skip unnecessary checkout
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: stop using deprecated k8s beta APIs
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/ingress.yaml
  helm-chart/renku-notebooks/templates/role.yaml
  helm-chart/renku-notebooks/templates/rolebinding.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: stop using deprecated k8s beta APIs
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/ingress.yaml
  helm-chart/renku-notebooks/templates/role.yaml
  helm-chart/renku-notebooks/templates/rolebinding.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: fix regex
  git-clone/entrypoint.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update jh chart version
  helm-chart/renku-notebooks/requirements.yaml
  jupyterhub/Dockerfile
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: obscure oauth token (#346)
  git-clone/entrypoint.sh
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update jh chart version (#355)
  helm-chart/renku-notebooks/requirements.yaml
  jupyterhub/Dockerfile
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.0 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

Update CHANGELOG.md
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.0 release (#363)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: update lfs version in git-clone to handle stored credentials
  chartpress.yaml
  git-clone/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: update lfs version in git-clone to handle stored credentials
  chartpress.yaml
  git-clone/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 0.8.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(charts): correct proxy-public port in ingress
  helm-chart/renku-notebooks/templates/ingress.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(charts): correct proxy-public port in ingress
  helm-chart/renku-notebooks/templates/ingress.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(build): remove build args from chartpress file
  chartpress.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(build): remove obsolete python requirement in JH image
  jupyterhub/requirements.txt
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(build): remove build args from chartpress file
  chartpress.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(build): remove obsolete python requirement in JH image
  jupyterhub/requirements.txt
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(charts): add reference for gw client app to values
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(charts): remove option to run as root
  helm-chart/minikube-values.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  run-telepresence.sh
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore(charts): add reference to cookieSecret to values.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(charts): enable storing gitlab auth state per default
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

fix(charts): enable storing gitlab auth state per default
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(charts): add reference to cookieSecret to values.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(charts): remove option to run as root
  helm-chart/minikube-values.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  run-telepresence.sh
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

Update helm-chart/renku-notebooks/values.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

Update helm-chart/renku-notebooks/values.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(charts): add reference for gw client app to values
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

feat: enable pod autoscaling
  .pre-commit-config.yaml
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/hpa.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: set sensible defaults for autoscaling
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

feat: enable pod autoscaling (#417)
  .pre-commit-config.yaml
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/hpa.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(app): escape username in registry secret name
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): escape username in registry secret name
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
