Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

squashme: fix integration tests
  .github/workflows/integration-tests.yml
  helm-chart/renku-notebooks/templates/test.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: fix improper use of snake case in values.yaml
  .github/workflows/integration-tests.yml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: fix annotations for sessions ingress to be object and not string
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  tests/unit/conftest.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix unit tests
  tests/unit/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: enable automated culling with amalthea
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  helm-chart/renku-notebooks/templates/test.yaml
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix linting errors
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: bump renku actions to 0.3.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: bump renku actions to 0.3.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: enable culling sessions (#747)
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: replace start-notebook.sh script with jupter lab args when starting sessions
  helm-chart/renku-notebooks/templates/test.yaml
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update amalthea to rc11
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

fix: assign proper culling idle thrshold
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: assignment of culling idle threshold for anonymous sessions
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: assignment of culling idle threshold for anonymous sessions (#751)
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: remove unused python packages
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

wip
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update ingress to v1
  helm-chart/renku-notebooks/templates/ingress.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: update readme for amalthea
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

squashme: fix formatting of readme
  README.rst
Owners: @SwissDataScienceCenter/documentation-reviewers

chore: update image and chart versions
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: update instructions in readme
  README.rst
  helm-chart/minikube-values.yaml
  run-telepresence.sh
Owners: @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use `jupyter notebook` as arg for launching a server
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(tests): pin setuptools version in test image build
  Dockerfile.tests
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update changelog for 1.0.0 release
  CHANGELOG.md
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(tests): pin setuptools version in test image build
  Dockerfile.tests
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: use `jupyter notebook` as arg for launching a server
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(tests): pin setuptools version in test image build
  Dockerfile.tests
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: run chartpress reset
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: apply grammar fixes in readme file
  CHANGELOG.md
  README.rst
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers

chore: prep release 1.0.0 (#755)
  CHANGELOG.md
  README.rst
  helm-chart/minikube-values.yaml
  helm-chart/renku-notebooks/Chart.yaml
  helm-chart/renku-notebooks/templates/ingress.yaml
  renku_notebooks/api/classes/server.py
  run-telepresence.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

squashme: minor cleanup after resolving merge conflicts
  Pipfile.lock
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

squashme: replace accidentally delete file from merge conflict
  git-clone/clone.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix formatting
  renku_notebooks/api/classes/dataset.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: add datashim as a helm dependency
  helm-chart/datashim/Chart.yaml
  helm-chart/datashim/README.md
  helm-chart/datashim/templates/crds.yaml
  helm-chart/datashim/templates/csi-driver-s3.yaml
  helm-chart/datashim/templates/daemonset-h3.yaml
  helm-chart/datashim/templates/daemonset-nfs.yaml
  helm-chart/datashim/templates/daemonset-s3.yaml
  helm-chart/datashim/templates/deployment.yaml
  helm-chart/datashim/templates/mutating-webhook-config.yaml
  helm-chart/datashim/templates/namespace.yaml
  helm-chart/datashim/templates/rbac-common.yaml
  helm-chart/datashim/templates/rbac-h3.yaml
  helm-chart/datashim/templates/rbac-nfs.yaml
  helm-chart/datashim/templates/rbac-s3.yaml
  helm-chart/datashim/templates/secrets.yaml
  helm-chart/datashim/templates/service-accounts-common.yaml
  helm-chart/datashim/templates/service-accounts-h3.yaml
  helm-chart/datashim/templates/service-accounts-nfs.yaml
  helm-chart/datashim/templates/service-accounts-s3.yaml
  helm-chart/datashim/templates/services-common.yaml
  helm-chart/datashim/templates/services-nfs.yaml
  helm-chart/datashim/templates/services-s3.yaml
  helm-chart/datashim/templates/statefulsets-h3.yaml
  helm-chart/datashim/templates/statefulsets-nfs.yaml
  helm-chart/datashim/templates/statefulsets-s3.yaml
  helm-chart/datashim/templates/storage-class-h3.yaml
  helm-chart/datashim/templates/storage-class-s3.yaml
  helm-chart/datashim/values.yaml
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(charts): add helm post renderer to remove crds from datashim chart
  helm-chart/remove-crds-post-render/README.md
  helm-chart/remove-crds-post-render/kustomization.yaml
  helm-chart/remove-crds-post-render/post-render-hook.sh
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(tests): do not publish images for integration tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update chartpress version
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fixes
  .github/workflows/integration-tests.yml
  chartpress.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: debug with tmate
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
