Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

build: update action workflow
  .github/workflows/test.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

build: add deploy
  .github/workflows/test.yml
  install_helm.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

build(ci): full CI as GitHub action workflow
  .github/workflows/ci.yml
  .github/workflows/test.yml
  install_helm.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: black formatting on spawners.py
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: use /work for the working directory
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

use a system-agnostic workdir (#198)
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore: bump version and changelog
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: bump version and changelog
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

build(ci): full CI as GitHub action workflow
  .github/workflows/ci.yml
  .github/workflows/test.yml
  install_helm.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: do not shorten/modify annotation values
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: do not shorten/modify annotation values
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: bump version and changelog
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: bump version and changelog
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

feat: can force delete pods
  helm-chart/renku-notebooks/templates/role.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

review: apply comments
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: can force delete pods (#205)
  helm-chart/renku-notebooks/templates/role.yaml
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
  tests/conftest.py
  tests/test_notebook.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

refactor: add more logs
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/gitlab_.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

review: apply comments
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/gitlab_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

refactor: add more logs (#207)
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/gitlab_.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: update telepresence script
  run-telepresence.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add VS code debigging instructions
  Pipfile
  Pipfile.lock
  README.rst
  renku_notebooks/__init__.py
  run-telepresence.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers

style: fixes from the review
  renku_notebooks/__init__.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

restore telepresence script (#209)
  Pipfile
  Pipfile.lock
  README.rst
  renku_notebooks/__init__.py
  run-telepresence.sh
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers

fix(jupyterhub): check permissions before adding environment variables
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

refactor: remove unused notebook url generator function
  renku_notebooks/util/jupyterhub_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: add partial project name as prefix to server name
  renku_notebooks/util/jupyterhub_.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: check permissions before adding environment variables (#212)
  jupyterhub/spawners.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

more project, less hash!
  renku_notebooks/util/jupyterhub_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix test
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: use project name in the notebook URL (#211)
  renku_notebooks/util/jupyterhub_.py
  tests/conftest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: move comment to avoid chartpress problem
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

style: improve label and ordering of server configuration options
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

style: improve label and ordering of server configuration options (#213)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

feat: update jupyterhub to 1.0.0
  Pipfile
  Pipfile.lock
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/requirements.txt
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix: fix jupyterhub dependencies
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/Dockerfile
  jupyterhub/requirements.txt
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

feat: gracefully handle predictable k8s api errors when querying for logs
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: initialize logs variable, limit logs lines, add exception type
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: add explicit parameter to log api to limit returned lines
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: handle k8s api errors when querying for logs (#216)
  renku_notebooks/api/notebooks.py
  renku_notebooks/util/kubernetes_.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

build: fix chartpress version
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
