Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

squashme: test fix
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: use xargs to load docker images in kind one by one
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(tests): do not publish images for integration tests (#759)
  .github/workflows/integration-tests.yml
  Pipfile
  Pipfile.lock
  chartpress.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: sync Pipfile.lock file
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: dependabot updates batch (#761)
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): add auth and expose rpc server sidecar
  git-rpc-server/Dockerfile
  git-rpc-server/git_rpc_server/__init__.py
  git-rpc-server/git_rpc_server/config.py
  git-rpc-server/git_rpc_server/methods/__init__.py
  git-rpc-server/git_rpc_server/methods/git.py
  git-rpc-server/git_rpc_server/methods/resources.py
  git-rpc-server/git_rpc_server/run.py
  git-rpc-server/git_rpc_server/server.py
  git-rpc-server/rpc-server.py
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/network-policies.yaml
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(app): when a gitlab project does not exist log a warning instead of error
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: address comments
  git-rpc-server/Dockerfile
  git-rpc-server/git_rpc_server/config.py
  git-rpc-server/git_rpc_server/methods/resources.py
  git-rpc-server/git_rpc_server/run.py
  git-rpc-server/git_rpc_server/server.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: refine resource limits and requests for rpc server
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  tests/integration/test_server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: restrict acess to rpc server only from the notebook service
  helm-chart/renku-notebooks/templates/network-policies.yaml
Owners: @SwissDataScienceCenter/kartografen

squashme: properly set workingDir for rpc server
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): when a gitlab project does not exist log a warning instead of error (#763)
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix apispec auth
  renku_notebooks/__init__.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): use the right storage class name parameter in Jupyter server manifest
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): use Amalthea to 0.1.0
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: update pipfile lock
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): add the option to not impose size limit on emptyDir
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/spawners.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  jupyterhub/spawners.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix black/formatting issues
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): make size limit optional for empty dir user session storage (#771)
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  jupyterhub/spawners.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

chore(chart): add an explanation about emptydir storage limits in values yaml file
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: prep 0.8.19 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: trigger workflow on 0.8.x branch
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: undo unecessary github ci workflow changes
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix integration tests
  tests/integration/test_server_options.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): use the right storage class name parameter in Jupyter server manifest (#769)
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): use Amalthea version 0.1.0 (#770)
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  tests/integration/test_server_options.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

fix: reduce load on hub by caching responses
  Pipfile
  Pipfile.lock
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: reduce load on hub by caching responses (#776)
  Pipfile
  Pipfile.lock
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix tests
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: increase: cache lifetime
  renku_notebooks/api/classes/user.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update changelog and chart for 0.8.20
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: add missing library
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 0.8.20 release (#779)
  CHANGELOG.md
  Pipfile
  Pipfile.lock
  helm-chart/renku-notebooks/Chart.yaml
  renku_notebooks/api/classes/user.py
  renku_notebooks/api/schemas.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: update command in git clone dockerfile
  git-clone/Dockerfile
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: update datashim version
  helm-chart/renku-notebooks/requirements.lock
  helm-chart/renku-notebooks/requirements.yaml
  renku_notebooks/__init__.py
  renku_notebooks/api/classes/dataset.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/schemas.py
  renku_notebooks/util/misc.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix black formatting
  renku_notebooks/__init__.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: uninstall notebook package not needed when jupyterhub is not used
  Pipfile
  Pipfile.lock
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat(app): option to not limit size of user session emptyDir
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/values.yaml
  renku_notebooks/api/classes/server.py
  renku_notebooks/config.py
Owners: @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/renku-notebooks-maintainers
