Repository SwissDataScienceCenter/renku-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/documentation-reviewers, @SwissDataScienceCenter/kartografen

.github/CODEOWNERS:

*           @SwissDataScienceCenter/renku-notebooks-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
/helm-chart/ @SwissDataScienceCenter/kartografen

chore: update oauth2 proxy to 7.5.1
  renku_notebooks/api/amalthea_patches/git_sidecar.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: do not test helm chart
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix(app): fix session hibernation
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: disable integration tests
  .github/workflows/integration-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: do not publish images twice
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat!: combined helm charts (#1642)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  chartpress.yaml
  helm-chart/renku-notebooks/.helmignore
  helm-chart/renku-notebooks/requirements.yaml
  helm-chart/renku-notebooks/templates/_helpers.tpl
  helm-chart/renku-notebooks/templates/configmap.yaml
  helm-chart/renku-notebooks/templates/deployment.yaml
  helm-chart/renku-notebooks/templates/hpa.yaml
  helm-chart/renku-notebooks/templates/ingress.yaml
  helm-chart/renku-notebooks/templates/network-policy.yaml
  helm-chart/renku-notebooks/templates/role.yaml
  helm-chart/renku-notebooks/templates/rolebinding.yaml
  helm-chart/renku-notebooks/templates/service.yaml
  helm-chart/renku-notebooks/templates/serviceaccount.yaml
  helm-chart/renku-notebooks/templates/session-pv-rbac.yaml
  helm-chart/renku-notebooks/templates/ssh.yaml
  helm-chart/renku-notebooks/templates/statefulset.yaml
  helm-chart/renku-notebooks/templates/test.yaml
  helm-chart/renku-notebooks/values.schema.json
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

fix(app): fix session hibernation (#1645)
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: prep 1.19.1 release
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: prep 1.19.1 release (#1648)
  CHANGELOG.md
  helm-chart/renku-notebooks/Chart.yaml
  pyproject.toml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers, @SwissDataScienceCenter/kartografen

chore: use renku dockerhub images
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore: use renku dockerhub images (#1651)
  helm-chart/renku-notebooks/values.yaml
Owners: @SwissDataScienceCenter/kartografen

chore(ci): Update renku actions to v1.8.0
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: move image utils to image class
  renku_notebooks/api/classes/image.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: rewrite image into class
  renku_notebooks/api/classes/image.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: other changes
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/classes/cloud_storage/__init__.py
  renku_notebooks/api/classes/cloud_storage/azure_blob.py
  renku_notebooks/api/classes/cloud_storage/s3mount.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/cloud_storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix tests
  renku_notebooks/api/classes/image.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  tests/unit/conftest.py
  tests/unit/test_public_image_checks.py
  tests/unit/test_server_class/test_get_image.py
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix linting
  renku_notebooks/api/amalthea_patches/cloudstorage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: make an Image class (#1653)
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/classes/cloud_storage/__init__.py
  renku_notebooks/api/classes/cloud_storage/azure_blob.py
  renku_notebooks/api/classes/cloud_storage/s3mount.py
  renku_notebooks/api/classes/image.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/cloud_storage.py
  renku_notebooks/util/check_image.py
  tests/unit/conftest.py
  tests/unit/test_public_image_checks.py
  tests/unit/test_server_class/test_get_image.py
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore: fix image logic
  renku_notebooks/api/amalthea_patches/init_containers.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/server.py
  renku_notebooks/api/notebooks.py
  tests/unit/test_server_class/test_manifest.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: generate regsitry secret
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix mount path
  renku_notebooks/api/notebooks.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: fix patching for mounts
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  renku_notebooks/api/amalthea_patches/cloudstorage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

address comments
  git_services/git_services/init/cloner.py
  poetry.lock
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/cloud_storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fixes
  git_services/git_services/init/cloner.py
  renku_notebooks/api/amalthea_patches/jupyter_server.py
  renku_notebooks/api/classes/image.py
  renku_notebooks/api/classes/server.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.8.1
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.8.2
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  git_services/git_services/init/cloner.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

squashme: minor fix
  git_services/git_services/init/cloner.py
  renku_notebooks/api/amalthea_patches/init_containers.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: mount without privileged and non-root user
  manifests/script.sh
  manifests/smarter-device-manager.yaml
  manifests/workload.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

feat: fuse mount with a sidecar
  manifests/workload-with-sidecar.yaml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.8.3
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.8.4
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: scientific notation integer parsing in config
  git_services/git_services/sidecar/config.py
  renku_notebooks/config/dynamic.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix secret order and mount path check
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/classes/cloud_storage/__init__.py
  renku_notebooks/api/classes/cloud_storage/azure_blob.py
  renku_notebooks/api/classes/cloud_storage/s3mount.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/cloud_storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

chore(ci): Update renku actions to v1.8.4 (#1659)
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

update deploy action for data services
  .github/workflows/acceptance-tests.yml
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix secret order and mount path check (#1666)
  .github/workflows/acceptance-tests.yml
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/classes/cloud_storage/__init__.py
  renku_notebooks/api/classes/cloud_storage/azure_blob.py
  renku_notebooks/api/classes/cloud_storage/s3mount.py
  renku_notebooks/api/notebooks.py
  renku_notebooks/api/schemas/cloud_storage.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: overwrite existing files with storage mounts
  git_services/git_services/init/clone.py
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
  git_services/git_services/init/errors.py
  git_services/tests/test_init_clone.py
  renku_notebooks/api/amalthea_patches/cloudstorage.py
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers

fix: absolute mount paths outside of the repo
  git_services/git_services/init/cloner.py
  git_services/git_services/init/config.py
  git_services/git_services/init/errors.py
  renku_notebooks/api/schemas/servers_get.py
Owners: @SwissDataScienceCenter/renku-notebooks-maintainers
